<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="navbar-content">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sproutup-collapse-navbar">Menu</button>
      <a analytics-on="click" analytics-event="Enter Landing Page" class="navbar-brand" ui-sref="navbar.home">
        <img class="logo" src="modules/core/client/img/logo.png">
      </a>
    </div>
    <!-- Two different nav bars. First for desktop, second one shows under 767px and collapses on an item click. -->
    <div class="collapse navbar-collapse" id="sproutup-collapse-navbar">
      <ul class="nav navbar-nav navbar-item navbar-right navbar-wide">
        <li ng-repeat="item in navbar.menu.items | orderBy: 'position'"
          ng-if="item.shouldRender(navbar.authentication.user);"
          ng-switch="item.type"
          ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" nav-item-wrapper nav-item-main
          dropdown="item.type === 'dropdown'">
          <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-if="!navbar.authentication.user"><a ui-sref="authentication.signin">SIGN IN</a></li>
        <li><img class="profile-img" ng-src="{{navbar.authentication.user.profileImageURL}}"></li>
        <li uib-dropdown ng-if="navbar.authentication.user">
            <a href="#" uib-dropdown-toggle>{{navbar.authentication.user.displayName}}<i class="fa fa-angle-down login-angle-down"></i></a>
            <ul uib-dropdown-menu class="navbar-wide" role="menu">
                <li><a analytics-on="click" analytics-event="View My Profile" ui-sref="navbar.user.profile.buzz({ nickname: navbar.authentication.user.username })">{{navbar.authentication.user.displayName}}<span>(View Profile)</span></a></li>
                <li><a analytics-on="click" analytics-event="Enter Account Settings" ui-sref="navbar.settings.profile">Account Settings</a></li>
                <li><a href="/api/auth/signout" target="_self" analytics-on="click" analytics-event="Log Out">Log Out</a></li>
            </ul>
            <ul uib-dropdown-menu class="navbar-toggleMenu" role="menu">
                <li><a class="navbar-skinny" analytics-on="click" analytics-event="View My Profile" ui-sref="user.profile.buzz({ nickname: navbar.authentication.user.username })" data-toggle="collapse" data-target="#sproutup-collapse-navbar">{{auth.m.user.name}}<span>(View Profile)</span></a></a></li>
                <li><a class="navbar-skinny" analytics-on="click" analytics-event="Enter Account Settings" ui-sref="user.settings.profile" data-toggle="collapse" data-target="#sproutup-collapse-navbar">Account Settings</a></li>
                <li><a class="navbar-skinny" href="/api/auth/signout" target="_self" analytics-on="click" analytics-event="Log Out" data-toggle="collapse" data-target="#sproutup-collapse-navbar">Log Out</a></li>
            </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-item navbar-right navbar-skinny">
        <li ng-repeat="item in navbar.menu.items | orderBy: 'position'"
          ng-if="item.shouldRender(navbar.authentication.user);"
          ng-switch="item.type"
          ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }"
          class="{{item.class}} nav-item-wrapper nav-item-main"
          dropdown="item.type === 'dropdown'">
            <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
        </li>
        <li ng-if="!navbar.authentication.user"><a ui-sref="user.login" data-toggle="collapse" data-target="#sproutup-collapse-navbar">LOG IN</a></li>
        <li ng-if="!navbar.authentication.user"><a ui-sref="user.signup" data-toggle="collapse" data-target="#sproutup-collapse-navbar">SIGN UP</a></li>
        <li><img class="profile-img" ng-src="{{navbar.authentication.user.profileImageURL}}"></li>
        <li uib-dropdown>
          <a href="#" uib-dropdown-toggle>{{navbar.authentication.user.displayName}}<i class="fa fa-angle-down login-angle-down"></i></a>
          <ul uib-dropdown-menu class="navbar-wide" role="menu">
            <li><a analytics-on="click" analytics-event="View My Profile" ui-sref="navbar.user.profile.buzz({ nickname: navbar.authentication.user.username })">{{navbar.authentication.user.displayName}}<span>(View Profile)</span></a></li>
            <li><a analytics-on="click" analytics-event="Enter Account Settings" ui-sref="navbar.settings.profile">Account Settings</a></li>
            <li><a href="/api/auth/signout" target="_self" analytics-on="click" analytics-event="Log Out">Log Out</a></li>
          </ul>
          <ul uib-dropdown-menu class="navbar-toggleMenu" role="menu">
            <li><a class="navbar-skinny" analytics-on="click" analytics-event="View My Profile" ui-sref="user.profile.buzz({ nickname: navbar.authentication.user.username })" data-toggle="collapse" data-target="#sproutup-collapse-navbar">{{auth.m.user.name}}<span>(View Profile)</span></a></a></li>
            <li><a class="navbar-skinny" analytics-on="click" analytics-event="Enter Account Settings" ui-sref="navbar.settings.profile" data-toggle="collapse" data-target="#sproutup-collapse-navbar">Account Settings</a></li>
            <li><a class="navbar-skinny" href="/api/auth/signout" target="_self" analytics-on="click" analytics-event="Log Out" data-toggle="collapse" data-target="#sproutup-collapse-navbar">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div ui-view class=""></div>
