<div class="dashboard-side-panel" ng-init="contributor.getDetails()">
  <div class="dashboard-side-panel-wrapper">
    <div class="dashboard-side-panel-close">
      <a class="btn sproutup-btn-xs" ui-sref="company.navbar.campaign.trial.view.requests"><i class="fa fa-times"></i></a>
    </div>
    <!-- panel header -->
    <div class="dashboard-side-panel-header">
      <p>{{ contributor.item.user.name || 'User' }}<sup class="label label-influencer">Influencer</sup></p>
      <button class="btn sproutup-btn-sm aqua" ng-click="contributor.messaging = true"><i class="fa fa-commenting"></i>Send message</button>
    </div>

    <!-- sending a message -->
    <!-- <div class="dashboard-side-panel-header" ng-if="contributor.messaging">
      <p>Kevin the Tech Ninja<sup class="label label-influencer">Influencer</sup></p>
      <button class="btn sproutup-btn-sm grey"><i class="fa fa-commenting"></i>Close message</button>
    </div>
    <div class="product-trial-item--messages">
      <div class="message-blurb outbound">
        <div class="sender">Me<span>2 days ago</span></div>
        <div class="content">Nice to meet you Kevin! I really love your profile! Are you interested in trying it out?</div>
      </div>
      <div class="message-blurb inbound">
        <div class="sender">Kevin the Tech Ninja<span>2 days ago</span></div>
        <div class="content">Thanks a lot! I am stoked to try this product!</div>
      </div>
      <div class="message-blurb outbound">
        <div class="sender">Me<span>1 hour ago</span></div>
        <div class="content">Word!! Super excited. Look forward to it!</div>
      </div>
      <div class="message-blurb">
        <div class="sender">Me<span>Sending now</span></div>
        <textarea class="form-control form-input-textarea sm" placeholder="If you have any questions, you can message the user here."></textarea>
        <button class="btn btn-sm sproutup-btn-xs">Send message</button>
      </div>
    </div> -->

    <!-- section: trial status management -->
    <div class="dashboard-side-panel-section">
      <h4>Product Trial</h4>
      <div class="dashboard-side-panel-section-body">
        <div class="product-trial-item--detail">
          <div class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Requested on {{ contributor.item.created | date }}</div>
          <div class="product-trial-item--status-desc">
            <p><span class="label label-info">Why</span>{{ contributor.item.comment }}</p>
            <p><span class="label label-info">Reward</span><strong>${{ contributor.item.bid }}</strong></p>
          </div>
        </div>
        <div class="product-trial-item--detail" ng-if="contributor.item.state === 0">
          <div class="product-trial-item--status reminder"><i class="fa fa-question-circle"></i>Approve this requset?</div>
          <div class="product-trial-item--status-desc" ng-click="contributor.approveTrial()"><button class="btn sproutup-btn-sm aqua" ng-click="contributor.approveRequest(vm.request)">YES</button></div>
        </div>
        <div class="product-trial-item--detail" ng-if="contributor.item.state > 0">
          <div class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Approved on {{ contributor.item.approved[0].created | date }}</div>
          <div class="product-trial-item--status-desc" ng-if="!contributor.item.trial.shippingState"><span class="label label-info">Shipping</span>Please ship product as soon as you can.</div>
          <div class="product-trial-item--detail" ng-if="contributor.item.trial.shippingState">
            <div class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Product shipped</div>
          <!-- <div class="product-trial-item--status-desc">Awesome! Kevin the Tech Ninja is very excited!</div> -->
          </div>
          <div class="product-trial-item--shipping">
            <div class="name">{{ contributor.item.user.name }}</div>
            <div class="address">{{ contributor.item.address }}</div>
            <div class="address phone">({{ contributor.item.phone }}</div>
            <div class="address"><a href="mailto:{{ contributor.item.user.email}}">{{ contributor.item.user.email }}</a></div>
          </div>
          <div class="product-trial-item--detail" ng-if="!contributor.item.trial.shippingState">
            <div class="product-trial-item--status reminder"><i class="fa fa-question-circle"></i>Have you shipped the product?</div>
            <div class="product-trial-item--status-desc"><button class="btn sproutup-btn-sm aqua" ng-click="contributor.productShipped()">YES! En route.</button></div>
          </div>
        </div>
        <div class="product-trial-item--detail" ng-if="contributor.item.state === 10">
          <div class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Completed on {{ contributor.item.completed[0].created | date }}</div>
          <!-- <div class="product-trial-item--status-desc">Hooray, Kevin the Tech Ninja has posted a video! <a href="#">Check it out!</a></div> -->
        </div>
<!--         <div class="product-trial-item--detail">
          <div class="product-trial-item--status reminder"><i class="fa fa-question-circle"></i>Have you received the product back?</div>
          <div class="product-trial-item--status-desc">
            <button class="btn sproutup-btn-sm aqua">YES!</button>
            <button class="btn sproutup-btn-sm grey">No. Send a reminder.</button>
          </div>
        </div> -->
      </div>
    </div>

    <!-- section: short bio -->
    <div class="dashboard-side-panel-section" ng-if="contributor.item.user.description">
      <h4>Short Bio</h4>
      <div class="dashboard-side-panel-section-body">
        <div class="dashboard-side-panel-paragraph">{{ contributor.item.user.description }}</div>
      </div>
    </div>

    <!-- section: reach -->
<!--     <div class="dashboard-side-panel-section">
      <h4>Social Reach<span class="total-reach">203,943</span></h4>
      <div class="dashboard-side-panel-section-body">
        <div class="dashboard-side-panel-fineprint">Social Reach is a great indicator of the user's potential impact on promoting your product.</div>
        <div class="sproutup-table">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td class="social-network-icon"><img class="img-center" src="modules/core/client/img/social/youtube.png"></td>
                <td><a href="#" target="_blank">YouTube</a></td>
                <td class="request-reach">67,392</td>
              </tr>
              <tr>
                <td class="social-network-icon"><img class="img-center" src="modules/core/client/img/social/twitter.png"></td>
                <td><a href="#" target="_blank">Twitter</a></td>
                <td class="request-reach">27,392</td>
              </tr>
              <tr>
                <td class="social-network-icon"><img class="img-center" src="modules/core/client/img/social/instagram.png"></td>
                <td><a href="#" target="_blank">Instagram</a></td>
                <td class="request-reach">97,392</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->

    <!-- section: track record -->
    <!-- <div class="dashboard-side-panel-section">
      <h4>Track Record</h4>
      <div class="dashboard-side-panel-section-body">
        <div class="dashboard-side-panel-fineprint">Below are previous contributions from Kevin the Tech Ninja.</div>
        <div class="sproutup-table table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th class="stat-col-header"><a href="#" uib-popover="Number of times people view this content" popover-trigger="mouseenter">Impressions</a><sup><i class="fa fa-question-circle"></i></sup></th>
                <th class="stat-col-header"><a href="#" uib-popover="Number of referral page visits this content has generated." popover-trigger="mouseenter">Conversion</a><sup><i class="fa fa-question-circle"></i></sup></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="social-network-icon"><img class="img-center" src="modules/core/client/img/social/youtube.png"></td>
                <td><a href="#" target="_blank">Parrot Bebop Review</a></td>
                <td class="stat-col-data">27,392</td>
                <td class="stat-col-data">1,293</td>
              </tr>
              <tr>
                <td class="social-network-icon"><img class="img-center" src="modules/core/client/img/social/youtube.png"></td>
                <td><a href="#" target="_blank">Boosted First Experience</a></td>
                <td class="stat-col-data">27,392</td>
                <td class="stat-col-data">1,293</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->
  </div>
</div>
