<div class="row browse-wrapper my-campaigns">
  <div class="col-sm-12 browse-campaign-main" ng-init="vm.findMyCampaigns()">
    <!-- empty state -->
    <div class="product-trial-item empty-state" ng-if="vm.myCampaigns.length == 0">
      <p>Err... you haven't done anything yet.</p>
      <div class="cta"><a ui-sref="navbar.discover.list">Discover cool stuff to do</a></div>
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/sproutup-assets/no-activities.gif">
    </div>
    <!-- my campaigns list -->
    <div ng-repeat="item in vm.myCampaigns | orderBy: '-created'" class="row product-trial-item" ng-if="vm.myCampaigns.length > 0">
      <div ng-if="item.campaign.type === 'trial'">
        <div class="product-trial-item--header">
          <a ui-sref="navbar.campaign.trial.view.details({campaignId: item.campaignId})">{{ item.campaign.name }}</a>
        </div>
        <div class="col-sm-12 product-trial-item--detail">
          <div ng-if="item.state === 0 || item.state > 0">
            <p class="product-trial-item--status current"><i class="fa fa-check-circle"></i><strong>Requested</strong><span>{{ item.created | date:'MMM dd, yyyy' }}</span></p>
          </div>
          <div ng-if="item.state === 1 || item.state > 1">
            <p class="product-trial-item--status current"><i class="fa fa-check-circle"></i><strong>Approved</strong><span>{{ item.log[0].created | date:'MMM dd, yyyy' }}</span></p>
            <p class="product-trial-item--status current" ng-if="item.trial.shippingState === 1"><i class="fa fa-check-circle"></i><strong>Product shipped</strong><span>{{ item.trial.shippingDate | date:'MMM dd, yyyy' }}</span></p>
          </div>
          <div ng-if="item.state === 2">
            <p class="product-trial-item--status current"><i class="fa fa-check-circle"></i><strong>Content submitted</strong><span>{{ item.log[1].created | date:'MMM dd, yyyy' }}<span></p>
          </div>
          <p class="product-trial-item--status" ng-if="item.campaign.hashtag"><i class="fa fa-link"></i>Your unique referral link:</p>
          <p class="product-trial-item--status-desc" ng-if="item.campaign.hashtag"><span>http://sproutup.co/{{item.campaign.hashtag}}/{{vm.user.username}}</span>Please embed this unique referral link in any of your content. Share this link on social media. We use this link to measure conversions and reward you accordingly.</p>
          <div class="product-trial-item--actions">
            <a ng-if="item.state === 0" class="btn sproutup-btn-xs" ui-sref="navbar.activity.trial.edit({campaignId: item.campaignId})">Edit request</a>
            <button ng-if="item.state === 0" ng-click="vm.openCancelModal(item.campaignId)" class="btn btn-md sproutup-btn-xs minimal">Cancel request</button>
            <button ng-if="item.state !== 0" ui-sref="navbar.campaign.trial.view.buzz({campaignId: item.campaignId})" class="btn btn-md sproutup-btn-xs">Submit my content</button>
          </div>
        </div>
      </div>

      <div ng-if="item.campaign.type === 'contest'">
        <div class="row product-trial-item" ng-if="item.state === 0">
          <div class="product-trial-item--header">
            <a>{{ item.campaign.name }}</a><sup class="label label-activity-type contest">Contest</sup>
          </div>
          <div class="col-sm-12 product-trial-item--detail">
            <p class="product-trial-item--status reminder"><i class="fa fa-clock-o"></i>Reminder: Enter contest before <strong>{{ item.campaign.end || '(the campaign end date)' }}</strong></p>
            <p class="product-trial-item--status-desc">Hang tight, winners will be announced on or before <strong>{{ item.campaign.selectionDate || '(the winner selection date)' }}</strong>. Finger crossed!</p>
          </div>
          <div class="product-trial-item--actions">
            <a class="btn btn-md sproutup-btn-xs" ui-sref="user.navbar.trial.view({campaignId: item.campaignId})">Submit my entry</a>
          </div>
        </div>

        <div class="row product-trial-item" ng-if="item.state === 1">
          <div class="product-trial-item--header">
            <a>{{ item.campaign.name }}</a><sup class="label label-activity-type contest">Contest</sup>
          </div>
          <div class="col-sm-12 product-trial-item--detail">
            <p class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Entered on <strong>{{ item.campaign.updated }}</strong></p>
            <p class="product-trial-item--status-desc">Hang tight, winners will be announced on or before <strong>{{ item.campaign.selectionDate || '(the winner selection date)' }}</strong>. Finger crossed! Share your entry to get more upvotes!</p>
          </div>
          <div class="product-trial-item--actions">
            <button class="btn btn-md sproutup-btn-xs">View my entry</button>
            <button class="btn btn-md sproutup-btn-xs facebook">Share on Facebook</button>
            <button class="btn btn-md sproutup-btn-xs twitter">Share on Twitter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
