<div class="row" ng-init="vm.findOne()">
  <div class="campaign-list-header" ng-if="vm.company">
    <h1>Welcome, <span>{{ vm.company.name }}</span>! Below are your live campaigns on SproutUp.</h1>
    <a ui-sref="admincompany.edit({ companyId: vm.company.id })" class="btn btn-info">Edit {{vm.company.name}}</a>
  </div>
  <div class="campaign-list-wrapper">
    <div class="col-sm-4 campaign-list-item" ng-repeat="campaign in vm.campaigns">
      <a ui-sref="company.navbar.campaign.view({ companyId: vm.company.slug, campaignId: campaign.id })">
        <div class="campaign-list-item-banner" style="background-image: url('{{ campaign.product.image }}');">
          <p class="campaign-type">{{ campaign.type }}</p>
          <p class="campaign-name">{{ campaign.product.name }}</p>
        </div>
      </a>
    </div>
  </div>
</div>

