<div class="my-content-comments" ng-if="vm.commenting">
  <!-- Existing comments -->
  <div class="row my-content-comment-row" ng-repeat="comment in vm.comments | orderBy: 'createdAt'">
    <div class="col-sm-1 my-content-user-avatar comment-user-avatar">
      <a ui-sref="user.profile.buzz({ nickname: comment.user.nickname })">
        <img class="img-responsive post-comment-user-img-circle img-center" ng-src="{{ comment.user.avatar.file.url ? comment.user.avatar.file.url+'?w=80&h=80' : comment.user.profileImageURL }}">
      </a>
    </div>
    <div class="col-sm-11 my-content-comment-blurb">
      <p class="my-content-user comment"><a ui-sref="user.profile.buzz({ nickname: comment.user.nickname })">{{ comment.userId }}</a><span class="my-content-timestamp comment">{{ comment.created | fromNow }}</span></p>
      <p class="my-content-text comment" ng-bind-html="comment.body | urlify"></p>
    </div>
  </div>

  <!-- New comment from current user -->
  <div class="row my-content-comment-row">
    <div class="col-sm-1 my-content-user-avatar comment-user-avatar">
      <img class="img-responsive post-comment-user-img-circle img-center" ng-src="{{ vm.user.avatar.file.url ? vm.user.avatar.file.url+'?w=80&h=80' : vm.user.profileImageURL }}">
    </div>

    <div class="col-md-11 my-content-comment-blurb">
      <div class="post-comment-form">
        <textarea name="comment" placeholder="Write a comment... Be cool / kind / funny / constructive / helpful..." class="form-control post-comment-textarea" rows="2" ng-model="vm.newComment" required=""></textarea>
      </div>
      <div class="post-new-comment-actions">
        <button type="submit" class="btn btn-post btn-post-default" ng-click="vm.addComment($event)" ng-disabled="vm.disabled || form.comment.$error.required" ng-class="{'disabled': vm.disabled || form.comment.$error.required}">
          <span ng-hide="vm.disabled">Post</span>
          <span us-spinner class="comment-spinner" spinner-key="spinner-3"></span>
        </button>
      </div>
    </div>

  </div>
</div>
