<h1 class="dashboard-section-title"><a ui-sref="company.navbar.product.list"><i class="fa fa-angle-left"></i></a>Add New Product</h1>
<div class="create-product-wrapper">
  <div class="row">
    <form name="form" class="form-horizontal" ng-submit="vm.create(form.$valid)" novalidate>
      <fieldset>
        <div class="col-sm-12 form-input-group">
          <p class="input-group-title">Basic Information</p>
          <input type="text" name="name" class="form-control form-input" placeholder="Name" required ng-model="vm.name" />
          <div ng-show="form.$submitted || form.name.$touched">
            <div class="form--error-message" ng-show="form.name.$error.required"><i class="help-block text-danger"></i>Product name is required.</div>
          </div>
          <input type="text" class="form-control form-input" placeholder="Tagline" ng-model="vm.tagline" />
          <input type="url" name="url" class="form-control form-input" placeholder="Video link (must be a valid youtube or vimeo link)" ng-model="vm.video" up-valid-video/>
          <div ng-show="form.$submitted || form.name.$touched">
            <div class="form--error-message" ng-show="form.url.$error.url"><i class="help-block text-danger"></i>This is not a valid link. Make sure to include your http:// or https:// prefix.</div>
          </div>
<!--                     <input type="text" class="form-control form-input" placeholder="URL of this product" ng-model="vm.url" /> -->
<!--                     <input type="url" class="form-control form-input" placeholder="URL of an awesome product video"> -->
        </div>
        <div class="col-sm-12 form-input-group">
          <p class="input-group-title">Description</p>
          <textarea class="form-control form-input-textarea" placeholder="Tell users more about this product. What are the cool features? What's the story behind this product?" ng-model="vm.description"></textarea>
        </div>
        <div class="col-sm-12 form-input-group">
          <button class="btn btn-lg sproutup-btn-md-main" type="submit">Save</button>
          <button class="btn btn-lg sproutup-btn-md-main cancel" href="#" ng-click="vm.cancel()">Cancel</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
