<h1 class="dashboard-section-title" ng-init="vm.findOne()"><a ui-sref="company.navbar.product.list"><i class="fa fa-angle-left"></i></a>Edit <span>{{ vm.product.name }}</span></h1>
<div class="create-product-wrapper">
  <div class="row">
    <form name="form" class="form-horizontal" ng-submit="vm.update(form.$valid)" novalidate>
      <fieldset>
        <div class="col-sm-12 form-input-group">
          <p class="input-group-title">Basic Information</p>
          <input type="text" name="name" class="form-control form-input" placeholder="Name of this product" required ng-model="vm.product.name" />
          <div ng-show="form.$submitted || form.name.$touched">
            <div class="form--error-message" ng-show="form.name.$error.required"><i class="help-block text-danger"></i>Product name is required.</div>
          </div>
          <input type="text" class="form-control form-input" placeholder="Tagline for this product" ng-model="vm.product.tagline" />
          <input type="url" name="url" class="form-control form-input" placeholder="Video link (must be a valid link)" ng-model="vm.product.video" />
          <div ng-show="form.$submitted || form.name.$touched">
            <div class="form--error-message" ng-show="form.url.$error.url"><i class="help-block text-danger"></i>This is not a valid link. Make sure to include your http:// or https:// prefix.</div>
          </div>
        </div>
        <div class="col-sm-12 form-input-group">
          <p class="input-group-title">Description</p>
          <textarea class="form-control form-input-textarea" placeholder="Tell users more about this product. What are the cool features? What's the story behind this product?" ng-model="vm.product.description"></textarea>
        </div>
        <div class="col-sm-12 form-input-group">
          <button class="btn btn-lg sproutup-btn-md-main" type="submit">Save</button>
          <button class="btn btn-lg sproutup-btn-md-main cancel" href="#" ng-click="vm.cancel()">Cancel</button>
          <a class="btn btn-lg sproutup-btn-md-main trash" href="#" ng-click="vm.openModal(vm.product)"><i class="fa fa-trash"></i></a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
