<!-- if no youtube video or picture -->
<div ng-if="!vm.videoUrl && !vm.item.image && (vm.item.title || vm.item.description)" class="my-content-item-main">
  <a ng-href="{{ vm.url }}?ref=sproutup" target="_blank">
    <div class="my-content-og-content" ng-if="vm.item.title || vm.item.description">
      <p class="my-content-og-headline" ng-if="vm.item.title">{{ vm.item.title }}</p>
      <p class="my-content-og-text" ng-if="vm.item.description">{{ vm.item.description | limitTo: 160 }}{{ vm.item.description.length < 160 ? '' : '...' }}</p>
    </div>
  </a>
</div>
<!-- if no youtube video and picture -->
<div ng-if="!vm.videoUrl && vm.item.image" class="my-content-item-main">
  <a ng-href="{{ vm.url }}?ref=sproutup" target="_blank">
    <div class="my-content-og-image" style="background-image: url('{{ vm.item.image }}')"></div>
    <div class="my-content-og-content" ng-if="vm.item.title || vm.item.description">
      <p class="my-content-og-headline" ng-if="vm.item.title">{{ vm.item.title }}</p>
      <p class="my-content-og-text" ng-if="vm.item.description">{{ vm.item.description | limitTo: 160 }}{{ vm.item.description.length < 160 ? '' : '...' }}</p>
    </div>
  </a>
</div>
<!-- if youtube video -->
<div ng-if="vm.videoUrl" class="my-content-item-main">
  <div class="my-content-video embedded">
    <embed-video data-ng-href="{{ vm.videoUrl }}" width=560 height=315 autohide=1 showinfo=0></embed-video>
  </div>
  <div class="my-content-og-content">
    <a ng-href="{{ vm.url }}" target="_blank">
      <p class="my-content-og-headline" ng-if="vm.item.title">{{ vm.item.title }}</p>
      <p class="my-content-og-text" ng-if="vm.item.description">{{ vm.item.description | limitTo: 160 }}{{ vm.item.description.length < 160 ? '' : '...' }}</p>
    </a>
  </div>
</div>
