<div ng-init="table.load()">
  <div ng-repeat="provider in table.providers" class="row row-social-account">
    <div class="col-sm-8">
      <div class="header"><i class="fa fa-check-circle success"></i>Connected to {{provider.provider}}</div>
      <div class="description" ng-if="provider.provider==='Google'">We are getting your social reach from Google. You can now sign in with Google as well.</div>
      <div class="description" ng-if="provider.provider==='Facebook'">We are getting your social reach from Facebook. You can now sign in with Facebook as well. <strong>We'll never post to Facebook or message your friends without your permission</strong>.</div>
      <div class="description" ng-if="provider.provider==='Twitter'">We are getting your social reach from Twitter. You can now sign in with Twitter as well. <strong>We'll never post to Twitter or message your followers without your permission</strong>.</div>
      <div class="description" ng-if="provider.provider==='Instagram'">We are getting your social reach from Instagram. <strong>We'll never post to Instagram</strong>.</div>
    </div>
    <div class="col-sm-4 action">
      <button class="btn sproutup-btn-sm naked" ng-click="table.removeUserSocialAccount(provider.provider)">Disconnect</button>
    </div>
  </div>
  <div ng-repeat="provider in table.providers | filter:{status:-1}" class="row row-social-account">
    <div class="col-sm-8">
      <div class="header"><i class="fa fa-question-circle error"></i>Reconnect to {{provider.provider}}</div>
      <div class="description">Oh no, something went wrong when connecting to {{provider.provider}}. Would you mind trying again?</div>
    </div>
    <div class="col-sm-4 action">
      <button class="btn sproutup-btn-sm salmon" href="#">Reconnect</button>
      <button class="btn sproutup-btn-sm naked" ng-click="table.removeUserSocialAccount(provider.provider)">Disconnect</button>
    </div>
  </div>
  <div ng-repeat="network in table.networks" class="row row-social-account" ng-hide="table.isConnectedSocialAccount(network.provider)">
    <div class="col-sm-8" >
      <div class="header">Connect to {{network.title}}</div>
      <div class="description" ng-if="network.title==='Google'">If you are a YouTuber or have a website, please connect to submit content and access analytics. You can also sign in with Google.</div>
      <div class="description" ng-if="network.title==='Twitter'">You can sign in with Twitter after you connect. <strong>We'll never post to Twitter or message your followers without your permission</strong>.</div>
      <div class="description" ng-if="network.title==='Instagram'">You can share your Instagram content on SproutUp after you connect. <strong>We'll never post to Instagram</strong>.</div>
      <div class="description" ng-if="network.title==='Facebook'">You can sign in with Facebook after you connect. <strong>We'll never post to Facebook or message your friends without your permission</strong>.</div>
    </div>
    <div class="col-sm-4 action">
      <a class="btn sproutup-btn-sm google" ng-click="table.callOauthProvider('/api/auth/' + network.provider)" ng-if="network.provider==='google'"><i class="fa fa-google-plus-square"></i>Connect</a>
      <a class="btn sproutup-btn-sm twitter" ng-click="table.callOauthProvider('/api/auth/' + network.provider)" ng-if="network.provider==='twitter'"><i class="fa fa-twitter"></i>Connect</a>
      <a class="btn sproutup-btn-sm facebook" ng-click="table.callOauthProvider('/api/auth/' + network.provider)" ng-if="network.provider==='facebook'"><i class="fa fa-facebook"></i>Connect</a>
      <a class="btn sproutup-btn-sm instagram" ng-click="table.callOauthProvider('/api/auth/' + network.provider)" ng-if="network.provider==='instagram'"><i class="fa fa-instagram"></i>Connect</a>
    </div>
  </div>
</div>
