<!-- company profile -->
<div ng-if="company.company.id" class="company-profile-banner" ng-style="{'background-image': 'url({{ company.company.banner.file.url || 'modules/core/client/img/default-product-banner.jpg' }})'}">
  <div class="row company-profile-info-wrapper">
    <div class="col-lg-12">
      <h1>{{ company.company.name }}</h1>
      <ul class="list-inline company-profile-social-buttons">
        <p>FIND MORE ON</p>
        <li><a href="{{ company.company.url }}" target="_blank"><i class="fa fa-home"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row company-profile-details" ng-init="company.findCampaigns()">
  <div class="col-md-4 col-sm-6 campaign-list-item" ng-repeat="campaign in company.company.campaigns" ng-if="campaign.type === 'trial' && campaign.status == 1">
    <!-- link for trial -->
    <a ng-if="campaign.type === 'trial'" ui-sref="navbar.campaign.trial.view.details({ campaignId: campaign.id })">
      <div class="campaign-list-item-banner" ng-style="{'background-image': 'url({{ campaign.banner.file.url || 'modules/core/client/img/default-product-banner.jpg' }})'}">
        <p class="campaign-name">{{campaign.name}}</p>
      </div>
    </a>
  </div>
</div>
