<div class="signin-page" style="background-image: url('modules/core/client/img/signin-page-background.jpg')">
  <div class="exit-signin-page">
  </div>
  <div class="auth-header">
    <div class="text-center">
      <img class="auth-header-logo" src="modules/core/client/img/logo-square.png">
    </div>
  </div>
  <div class="row">
    <div class="signup-login-header">
      <h1>Forgot password? We've got you covered.</h1>
      <h2>To reset your password, enter the email address you signed up with and we'll send you instructions to reset the password.</h2>
    </div>
    <div class="signup-login-area">
      <form name="passwordResetForm" class="signupForm" novalidate>
        <div class="signup-login-form">
          <div class="signup-login-form--error-message" ng-show="vm.form.error"><i class="fa fa-minus-circle"></i>{{vm.form.error}}</div>
          <!-- email -->
          <input ng-model="credentials.email" required="" class="form-control form-validate signup-login-input" id="email" type="email" name="yourEmail" placeholder="Enter your email">
          <div ng-show="Form.$submitted || passwordResetForm.yourEmail.$touched">
            <div class="signup-login-form--error-message" ng-show="error"><i class="fa fa-minus-circle"></i>{{ error }}</div>
          </div>
          <button ng-disabled="passwordResetForm.$invalid" class="btn btn-lg signup-login-btn" type="submit" ng-click="askForPasswordReset()">Send reset instructions</button>
        </div>
      </form>
    </div>
    <!-- footer -->
    <div class="signup-login-form-footer">
      <p><a ui-sref="navbar.home">Back to SproutUp</a></p>
    </div>

  </div>
</div>
