<div class="auth-header">
    <div class="text-center">
      <img class="auth-header-logo" src="modules/core/client/img/logo-square-orange.png">
    </div>
    <hr>
</div>

<div class="row">

    <div class="signup-login-header">
        <h1>Reset instructions have been sent</h1>{{test}}
        <h2>We just sent the password reset instructions to <span>{{ emailSent }}</span>. If you don't see it, please check your spam and junk filters.</h2>
    </div>

    <!-- footer -->
    <div class="signup-login-form-footer">
      <p><a ui-sref="authentication.signin">Back to log in</a><p>
    </div>
</div>