<div class="signin-page" style="background-image: url('modules/core/client/img/signin-page-background.jpg')">
  <div class="exit-signin-page">
    <button class="btn sproutup-btn-xs"><i class="fa fa-times"></i></button>
  </div>
  <div class="auth-header">
    <div class="text-center">
      <img class="auth-header-logo" src="modules/core/client/img/logo-square.png">
    </div>
  </div>
  <div class="row">
    <div class="signup-login-header">
      <h1>Reset instructions have been sent</h1>{{test}}
      <h2>We just sent the password reset instructions to <span>{{ emailSent }}</span>. If you don't see it, please check your spam and junk filters.</h2>
    </div>

    <!-- footer -->
    <div class="signup-login-form-footer">
      <p><a ui-sref="authentication.signin">Back to log in</a></p>
    </div>
  </div>
</div>
