<div class="signin-page" style="background-image: url('modules/core/client/img/signin-page-background.jpg')">
  <div class="exit-signin-page">
    <button class="btn sproutup-btn-xs" ui-sref="navbar.home"><i class="fa fa-home"></i></button>
  </div>
  <div class="auth-header">
    <div class="text-center">
      <img class="auth-header-logo" src="modules/core/client/img/logo-square.png">
    </div>
  </div>
  <div class="row">
    <div class="signup-login-header">
      <h1>Reset your password</h1>
      <h2>Please create a new password that is at least 6 characters long.</h2>
    </div>
    <div class="signup-login-area">
      <form name="resetPasswordForm" class="signupForm" novalidate>
        <div class="signup-login-form">
          <!-- password -->
          <input ng-model="passwordDetails.newPassword" required="" ng-minlength="6" class="form-control form-validate signup-login-input" id="password" type="password" name="yourPassword" placeholder="New password">
          <div ng-show="resetPasswordForm.$submitted || resetPasswordForm.yourPassword.$touched">
            <div class="signup-login-form--error-message" ng-show="resetPasswordForm.yourPassword.$error.required"><i class="fa fa-minus-circle"></i>Password cannot be empty.</div>
            <div class="signup-login-form--error-message" ng-show="resetPasswordForm.yourPassword.$error.minlength"><i class="fa fa-minus-circle"></i>6 or more characters would be safer.</div>
          </div>
          <input ng-model="passwordDetails.verifyPassword" required="" ng-minlength="6" class="form-control form-validate signup-login-input" id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm new password">
          <div ng-show="resetPasswordForm.$submitted || resetPasswordForm.confirmPassword.$touched">
            <div class="signup-login-form--error-message" ng-show="resetPasswordForm.confirmPassword.$error.required"><i class="fa fa-minus-circle"></i>Password cannot be empty.</div>
            <div class="signup-login-form--error-message" ng-show="resetPasswordForm.confirmPassword.$error.minlength"><i class="fa fa-minus-circle"></i>6 or more characters would be safer.</div>
          </div>
          <button class="btn btn-lg signup-login-btn" type="submit" ng-click="resetUserPassword()">Reset password</button>
        </div>
      </form>
    </div>
  </div>
</div>
