<!-- content blurb -->
<div class="col-sm-12 my-content-item">
    <!-- user photo -->
    <div class="col-sm-2 my-content-user-avatar post-user-avatar">
        <a ui-sref="user.profile.buzz({ nickname: vm.content.user.nickname })">
            <img class="img-responsive my-content-user-img img-center" ng-src="{{ vm.content.user.avatar.file.url ? vm.content.user.avatar.file.url+'?w=80&h=80' : vm.content.user.profileImageURL}}">
        </a>
    </div>
    <!-- content thumbnail -->
    <div class="col-sm-10 my-content-body">
        <div class="my-content-item--summary" ng-if="vm.content.type !== 1">
            <p class="my-content-user">
                <span class="my-content-user-name">
                    <a analytics-on="click" analytics-event="Check Public Profile" analytics-user="{{vm.content.user.nickname}}" class="content-user-link" ui-sref="user.profile.buzz({ nickname: vm.content.user.nickname })">{{ vm.content.user.displayName }}</a>
                </span>
            </p>
            <p class="my-content-timestamp"><a ui-sref="user.singleBuzz({ id: vm.content.id })">{{ vm.content.created | fromNow }}</a></p>
            <div class="my-content-item-main">
                <div class="my-content-text" ng-bind-html="vm.content.body | urlify"></div>
                <up-meta item="vm.content.meta" url="vm.content.url"></up-meta>
            </div>
            <div class="my-content-actions">
                <up-like likes="vm.content.likes" up-id="vm.content.id" up-type="models.post" state="{{ vm.state }}" params="vm.params"></up-like>
                <a analytics-on="click" analytics-event="Comment Buzz Post" analytics-id="{{ vm.content.id }}" href="#" subject-present="vm.commentToggle()" state="{{ vm.state }}" params="vm.params" ng-click="vm.content.commenting != vm.content.commenting">COMMENTS ({{ vm.content.comment.length || 0 }})</a>
                <a analytics-on="click" analytics-event="Share Buzz Post" product="{{vm.content.product.id}}" id="3000" analytics-id="{{ vm.content.id }}" ng-href="{{ vm.content.tweetContentLink }}">SHARE</a>
                <span class="analytics-total" ng-if="vm.content.analytics.total > 0">{{ vm.content.analytics.total | humanizeNumber }} views</span>
            </div>
        </div>

        <div class="my-content-body" ng-if="vm.content.type === 1">
          <div class="suggested-product-item" style="background-image: url({{ vm.content.meta.image }});">
            <p class="my-content-user">
              <a class="suggested-product-item-name" ng-href="{{ vm.content.url }}">{{ vm.content.body }}</a>
              <span class="activity">suggested by</span>
              <a href="#">{{ vm.content.user.displayName }}</a>
            </p>
            <p class="suggested-product-item-description">{{ vm.content.meta.description | limitTo: 120 }}{{vm.content.meta.description.length < 120 ? '' : '...'}}</p>
            <div class="my-content-actions">
              <up-like likes="vm.content.likes" up-id="vm.content.id" up-type="models.post" state="{{ vm.state }}" params="vm.params"></up-like>
              <a href="#" ng-click="vm.content.commenting = !vm.content.commenting">COMMENTS ({{ vm.content.comment.length || 0 }})</a>
<!--               <a href="#">REQUEST</a> -->
            </div>
          </div>
        </div>

        <up-comments commenting="vm.content.commenting" comments="vm.content.comment" up-id="vm.content.id" up-type="Post" state="{{ vm.state }}" params="vm.params" ng-if="vm.content.commenting"></up-comments>
    </div>
</div>
