<div class="row message-page">
  <!-- Content -->
  <div class="col-sm-12" ng-init="messageCtrl.listMyChannels()">
    <div class="user-profile-activities empty-state" ng-if="messageCtrl.channels.length == 0">
      <p>No messages sent or received.</p>
      <div class="cta">Your conversations will show up once you start to talk with someone.</div>
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/sproutup-assets/no-message.gif">
    </div>
    <ul class="list-conversation-thread">
      <li class="unread" ng-repeat="channel in messageCtrl.channels">
        <a ui-sref="navbar.conversation.view({channelId: channel.id})">
          <div class="sproutup-table messages">
            <table class="table">
              <tbody>
                <tr>
                  <td class="photo">
                    <img class="img-center" up-avatar="channel.members[channel.last.userId].user" width="50" height="50">
                  </td>
                  <td>
                    <div class="name" ng-if="channel.last.userId !== navbar.authentication.user.id" ng-bind="channel.members[channel.last.userId].user.displayName"></div>
                    <div class="name" ng-if="channel.last.userId === navbar.authentication.user.id">Me<span><i class="fa fa-share"></i></span></div>
                    <div class="text" ng-bind="(channel.last.body | limitTo: 140) + (channel.last.body.length < 140 ? '' : '...')"></div>
                  </td>
                  <td class="time"><span am-time-ago="channel.last.created"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
