<div class="conversation-wrapper">
  <div class="message-header">
    <p ng-hide="vm.empty">Your conversation with <strong>{{vm.conversation.channel.ref.company.name}}</strong> about <strong><a ui-sref="navbar.campaign.trial.view.details({ campaignId: vm.conversation.channel.refId}) ">{{vm.conversation.channel.ref.name}}</a></strong></p>
    <p ng-show="vm.empty">You haven't started a conversation</p>
  </div>
  <div class="message-body" scroll-glue-bottom="true" >
    <div ng-show="vm.empty" class="empty-state">If you have questions about the campaign or product, feel free to message us. Please do NOT spam us, though. &#x1F64F;</div>
    <div ng-hide="vm.empty" ng-repeat="message in vm.messages" ng-class="{inbound: vm.me.id !== message.userId, outbound: vm.me.id === message.userId}" class="message-blurb">
      <div class="sender">
        <span class="name" ng-show="vm.me.id === message.userId">Me</span>
        <span class="name" ng-show="vm.me.id !== message.userId">{{message.userId}}{{vm.conversation.channel.members[message.userId].user.displayName}}</span>
        <span class="time">{{message.created | fromNow}}</span>
      </div>
      <div class="content" ng-bind="message.body"></div>
    </div>
  </div>
  <div class="message-footer">
    <div class="message-blurb">
      <textarea ng-hide="vm.empty" ng-model="vm.body" class="form-control form-input-textarea sm" placeholder="If you have any questions, please send a message here."></textarea>
      <button ng-hide="vm.empty" class="btn btn-sm sproutup-btn-xs" ng-click="vm.send()">Send message</button>
      <button ng-show="vm.empty" class="btn btn-sm sproutup-btn-xs" ng-click="vm.start()">Start a conversation</button>
    </div>
  </div>
</div>
