<div class="message-body" ng-init="vm.load()">
  <div ng-repeat="message in vm.messages | orderBy:'created'" ng-class="{inbound: message.inbound, outbound: !message.inbound}" class="message-blurb">
    <div class="sender">{{message.user.displayName}}<span class="time">{{message.created}}</span></div>
    <div class="content" ng-bind="message.body"></div>
  </div>
</div>
<div class="message-footer">
  <textarea ng-model="vm.body" class="form-control form-input-textarea sm" placeholder="If you have any questions, you can message the user here."></textarea>
  <button class="btn btn-sm sproutup-btn-xs" ng-click="vm.send()">Send message</button>
</div>
