<div class="col-sm-9 col-company-profile">
    <form name="companyForm" class="signin" autocomplete="off" ng-submit="company.update(companyForm.$valid)">
      <fieldset>

        <!-- Company name -->
        <div class="form-group">
          <label for="Name">Company Name</label>
            <input ng-model="company.company.name" type="text" id="Name" name="Name" class="form-control form-validate form-input" placeholder="The official name of your company" required>
        </div>

        <!-- Company tagline -->
        <div class="form-group">
          <label for="Tagline">Tagline</label>
            <input ng-model="" type="text" id="" name="" class="form-control form-validate form-input" placeholder="A cool tagline about your company" required>
        </div>

        <!-- Profile appearance -->
        <div class="form-group">
          <label for="">Profile Appearance</label>
          <div class="form-secondary-label">Upload an awesome photo to showcase your company. For the best visual quality, the recommended size is 2400 x 1200 pixels.</div>
          <div class="create-campaign-banner" style="background-image: url('modules/core/client/img/default-campaign-banner.jpg');">
            <a class="btn btn-lg upload-file-button">Upload a profile photo</a>
          </div>
        </div>

        <!-- Company URL -->
        <div class="form-group">
          <label for="url">Company Website</label>
          <input ng-model="company.company.url" type="url" id="url" name="url" class="form-control form-validate form-input" placeholder="The official website of your company">
        </div>

        <!-- Company address -->
        <div class="form-group">
          <label for="vm.address">Business Address</label>
          <input ng-model="company.company.address" type="text" id="address" name="address" class="form-control form-validate form-input" placeholder="Business address of your company">
        </div>

        <!-- Company phone number -->
        <div class="form-group">
          <label for="company.phone">Phone Number</label>
          <input ng-model="company.company.phone" type="text" id="phone" name="phone" class="form-control form-validate form-input" placeholder="A phone number we can reach you">
        </div>

        <!-- TODO: disable Save button unless users change something -->
        <div class="form-group">
          <input type="submit" value="Save Changes" class="btn btn-lg sproutup-btn-md-main">
        </div>

        <!-- TODO: change to SproutUp heads-up message style -->
        <div data-ng-if="company.success" up-banner message-variable="company.success" fade-out="5000" class="hud success">
          <i class="fa fa-check"></i>Saved Successfully
        </div>
        <div data-ng-if="company.error" up-banner message-variable="company.error" fade-out="5000" class="hud error">
          <i class="fa fa-frown-o"></i><span ng-bind="company.error"></span>
        </div>
      </fieldset>
    </form>
</div>
