<div class="user-profile-banner">

</div>
<div class="user-profile-page">
  <div class="row user-profile-wrapper">
    <div class="col-sm-3 user-profile-rail left">
      <img class="img-responsive user-profile-photo" up-avatar="slug.item" width="200" height="200">
      <div class="user-profile-name">{{slug.item.displayName}}</div>
      <div class="user-profile-bio" ng-if="slug.item.description">{{slug.item.description}}</div>
      <div class="user-profile-networks">
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9 user-profile-rail right">
      <div class="row user-profile-rail-main">
        <div class="user-profile-rail--menu">
          <ul class="list-inline">
            <li ng-repeat="item in profile.menu.items | orderBy: 'position'"
              ng-if="item.shouldRender(profile.auth.user);"
              ng-switch="item.type"
              ng-class="{ active: profile.state.includes(item.state), dropdown: item.type === 'dropdown' }" nav-item-wrapper nav-item-main
              dropdown="item.type === 'dropdown'">
              <a ui-sref="{{item.state}}">{{item.title}}</a>
            </li>
          </ul>
        </div>
        <!-- tab view -->
        <div class="col-sm-8 user-profile-rail--buzz">
         <div ui-view></div>
        </div>
        <div class="col-sm-4 user-profile-rail--misc">
          <div class="buzz-sidebar-item">
            <div class="title"><span class="stats-highlight">128k</span>Social Reach</div>
            <div class="subtitle">The social reach is calculated from all social network accounts the user has connected to.</div>
            <div class="content">
              <img class="img-responsive" src="modules/theme/client/img/mock/social.png">
            </div>
          </div>
          <div class="buzz-sidebar-item">
            <div class="title">Your Stats <span class="label label-info">coming soon</span></div>
            <div class="subtitle"><span class="stats-highlight">Impressions</span> your content have earned to date.</div>
            <div class="content">
              <img class="img-responsive" src="modules/theme/client/img/mock/impressions.png">
            </div>
            <hr>
            <div class="subtitle"><span class="stats-highlight">Referral clicks</span> your content have earned to date.</div>
            <div class="content">
              <img class="img-responsive" src="modules/theme/client/img/mock/clicks.png">
            </div>
            <div class="link"> <a href="#">View analytics details <i class="fa fa-angle-right"> </i> </a> </div>
          </div>
          <div class="buzz-sidebar-item">
            <div class="title">Your Earnings <span class="label label-info">coming soon</span></div>
            <div class="subtitle">You have earned <span class="stats-highlight">$amount</span> so far. Keep up with good work!</div>
            <div class="link"><a href="#">View earning details<i class="fa fa-angle-right"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
