<div class="row dashboard-body-wrapper" ng-init="vm.query.state = 0">
  <div class="col-sm-3 request-group">
    <div class="list-group">
      <a ng-click="vm.query.state = 0"><div class="list-group-item" ng-class="{ 'current': vm.query.state === 0 }">Requested</div></a>
      <a ng-click="vm.query.state = 1"><div class="list-group-item" ng-class="{ 'current': vm.query.state === 1 }">Approved</div></a>
      <a ng-click="vm.query.state = 10"><div class="list-group-item" ng-class="{ 'current': vm.query.state === 10 }">Completed</div></a>
    </div>
  </div>
  <!-- Requests -->
  <div class="dashboard-body-header">
    <div class="sproutup-table table-responsive">
      <input ng-model="vm.query.$" class="form-control" placeholder="Search your contributors."/>
      <br>
      <table class="table table-hover" ng-show="filteredItems.length > 0">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th><a href="#">Total Reach</a><sup><i class="fa fa-question-circle"></i></sup></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.contributors | filter: vm.query as filteredItems">
            <td class="request-avatar"><a href="#">
              <img ng-if="item.user.avatarUrl" class="img-center" ng-src="{{ item.user.avatarUrl }}">
              <canvas ng-if="!item.avatarUrl" width="60" height="60" fontsize="28" name="{{ item.user.name }}" up-avatar></canvas>
            </a></td>
            <td class="request-name-pitch">
              <div class="name"><a href="#">{{ item.user.name || 'User' }}</a></div>
              <div>{{ item.user.comment || 'No reason specified' }}<a href="#"></a></div>
            </td>
            <td class="request-reach">{{ item.user.reach || '?' }}</td>
            <td class="request-detail-link" ng-click="vm.request = item"><a ui-sref="company.navbar.campaign.trial.view.contributor({ userId: item.user.id })">Details</a></td>
          </tr>
        </tbody>
      </table>
      <div ng-if="filteredItems.length < 1">
        <div class="col-sm-12">
          <div class="empty-state-wrapper">
            <img class="img-center" src="modules/core/client/img/icon-campaign.png">
            <h2>No trials found.</h2>
      <!--         <a ui-sref="company.navbar.product.create" class="btn btn-lg sproutup-btn-md-main orange">Add New Product</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Details panel -->
<div ui-view></div>
