<!-- join contest -->
<div>
  <div class="campaign-banner join" ng-style="{'background-image': 'url({{ vm.campaign.banner.file.url || 'modules/core/client/img/default-product-banner.jpg' }})'}" ng-if="vm.campaign">
    <div class="row campaign-join-wrapper">
      <div class="col-lg-12">
        <h1>One more thing</h1>
        <div class="social-account-wrapper">
          <div class="profile-edit--header">
            <h2>If you haven't, please connect to <strong>at least one</strong> social network. Without it, we have no way to know more about you. The more networks you connect, the better your chances of getting approved!</h2>
          </div>
          <up-social-table></up-social-table>
        </div>
        <div class="campaign-join-action">
          <button class="btn btn-lg sproutup-btn-lg-main" ng-click="vm.connected()">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
