<div class="row dashboard-body-wrapper" ng-init="vm.findContent()">
  <div class="content-stats-list">
    <div class="sproutup-table table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Content</th>
            <th><a href="#">Impressions</a><sup><i class="fa fa-question-circle"></i></sup></th>
            <th><a href="#">Engagements</a><sup><i class="fa fa-question-circle"></i></sup></th>
            <th><a href="#">Shares</a><sup><i class="fa fa-question-circle"></i></sup></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.content">
            <td ng-if="item.media=='yt'" class="social-network-icon"><img class="img-center" src="modules/core/client/img/social/youtube.png"></td>
            <td ng-if="item.media=='tw'" class="social-network-icon"><img class="img-center" src="modules/core/client/img/social/twitter.png"></td>
            <td ng-if="item.media=='pi'" class="social-network-icon"><img class="img-center" src="modules/core/client/img/social/pinterest.png"></td>
            <td ng-if="item.media=='url'" class="social-network-icon"><img class="img-center" src="modules/core/client/img/social/url.png"></td>
            <td>
              <div class="content-title" ng-bind="item.title"></div>
              <div class="content-subline"><a class="content-author" href="#" ng-bind="item.user.name"></a>&#183;<a class="content-view-link" ui-sref="company.navbar.campaign.trial.view.stats.details({contentId:item.id})">View Content</a></div>
            </td>
            <td class="request-reach" ng-bind="item.impressions"></td>
            <td class="request-reach" ng-bind="item.engagements"></td>
            <td class="request-reach" ng-bind="item.shares"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Details panel -->
<div ui-view></div>
