<div class="about-campaign-page" style="background-image: url('modules/core/client/img/about-campaign-background.jpg')">
  <div class="row about-campaign-wrapper">
    <div class="col-sm-7 about-campaign-column">
      <div class="about-campaign-section" ng-if="vm.campaign.description">
        <h3>WHAT'S IT ABOUT</h3>
        <p>{{ vm.campaign.description }}</p>
      </div>
      <div class="company-profile-products-section">
        <div class="about-product--video embedded" ng-if="vm.campaign.product.video">
         <embed-video data-ng-href="{{ vm.campaign.product.video }}" width=560 height=315 autohide=1 showinfo=0></embed-video>
        </div>
      </div>
      <div class="about-campaign-section" ng-if="vm.campaign.product.description">
        <h3>{{ vm.campaign.product.name | uppercase }}</h3>
        <p>{{ vm.campaign.product.description }}</p>
      </div>
    </div>
    <div class="col-sm-5 about-campaign-column">
      <div ng-if="vm.myContribution">
        <div class="about-campaign-section" ng-if="vm.myContribution.state == 0">
          <h3>We got your request on {{ vm.myContribution.created | date }}</h3>
          <p>Your unique referral link is <strong>www.sproutup.co/{{vm.campaign.hashtag}}/{{vm.myContribution.user.username}}</strong></p>
          <div class="about-campaign-actions">
            <a class="btn sproutup-btn-sm outline" ui-sref="navbar.activity.trial.edit({campaignId: vm.campaign.id})">Edit request</a>
            <button class="btn sproutup-btn-sm minimal" ng-click="vm.openCancelModal()">Cancel request</button>
          </div>
        </div>

        <div class="about-campaign-section" ng-if="vm.myContribution.state === 1">
          <h3 ng-if="vm.myContribution.trial.shippingState === 1">Hooray! Product was shipped to you on {{ vm.myContribution.trial.shippingDate | date }}</h3>
          <h3 ng-if="!vm.myContribution.trial.shippingState">Nice! Your request was approved on {{ vm.myContribution.log[0].created | date }}</h3>
          <p>Your unique referral link <strong>www.sproutup.co/{{vm.campaign.hashtag}}/{{vm.myContribution.user.username}}</strong></strong></p>
        </div>

        <div class="about-campaign-section" ng-if="vm.myContribution.state === 2">
          <h3>You submitted content on <strong>{{ vm.myContribution.log[1].created | date }}</strong></h3>
          <p>Your unique referral link <strong>www.sproutup.co/{{vm.campaign.hashtag}}/{{vm.myContribution.user.username}}</strong></strong></p>
        </div>
      </div>
      <div class="about-campaign-section" ng-if="vm.campaign.instructions">
        <h3>INSTRUCTIONS</h3>
        <p>{{ vm.campaign.instructions }}</p>
      </div>
      <div class="about-campaign-section">
        <h3>MORE DETAILS</h3>
        <ul>
          <div class="list-header">Inviting content creators from these channels:</div>
          <li ng-if="vm.campaign.typeOfContent.indexOf('yt') >= 0"><i class="fa fa-dot-circle-o"></i>YouTube</li>
          <li ng-if="vm.campaign.typeOfContent.indexOf('ig') >= 0"><i class="fa fa-dot-circle-o"></i>Instagram</li>
          <li ng-if="vm.campaign.typeOfContent.indexOf('vi') >= 0"><i class="fa fa-dot-circle-o"></i>Vine</li>
          <li ng-if="vm.campaign.typeOfContent.indexOf('ps') >= 0"><i class="fa fa-dot-circle-o"></i>Periscope</li>
          <li ng-if="vm.campaign.typeOfContent.indexOf('tw') >= 0"><i class="fa fa-dot-circle-o"></i>Twitter</li>
          <li ng-if="vm.campaign.typeOfContent.indexOf('bl') >= 0"><i class="fa fa-dot-circle-o"></i>Blog</li>
          <li ng-if="vm.campaign.typeOfContent.indexOf('sc') >= 0"><i class="fa fa-dot-circle-o"></i>Snapchat</li>
          <li ng-if="vm.campaign.trial.keepProduct"><i class="fa fa-check-circle green"></i>Yes! We will send you free product to review and keep.</li>
          <li ng-if="!vm.campaign.trial.keepProduct"><i class="fa fa-dot-circle-o"></i><strong><u>Loaner</u></strong> product available to try. NO cost to you.</li>
        </ul>
      </div>
      <div class="about-campaign-section">
        <h3>HOW IT WORKS</h3>
        <div class="trial-campaign-how-it-works">
          <h4>Place a request</h4>
          <div class="fine-prints">We make it simple for you to connect with brand. Just tell brand what excited you about the product, what creative content you’ll create and at what price. <strong>Tip: Passion and creativity make your request stand out.</strong></div>
          <h4>Get hired</h4>
          <div class="fine-prints">Brands that fall in love with your idea and social profile will approve your requests. Direct chat with brand is available too.</div>
          <h4>Unbox and enjoy</h4>
          <div class="fine-prints">Once you’re approved, product is shipped directly to you and it’s time to have fun with the product.</div>
          <h4>Create viral content</h4>
          <div class="fine-prints">Upload your creative work, share personal user experience with your audience and go viral!</div>
        </div>
      </div>
    </div>
  </div>
</div>
