<div class="buzz-page">
  <div class="row campaign-buzz-wrapper" infinite-scroll='buzzCtrl.loadGroupContent(campaign.item.groupId)' infinite-scroll-disabled='buzzCtrl.busy' infinite-scroll-distance='2' ng-init="buzzCtrl.loadGroupContent(campaign.item.groupId)">
    <div class="col-sm-7 campaign-buzz-column left">
      <!-- empty state -->
      <div class="col-sm-12 my-content-item empty-state" ng-if="buzzCtrl.content.length == 0" hide-if-auth>
        <p>Bummer! We're still waiting for the first post.</p>
        <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/sproutup-assets/no-content.gif">
      </div>
      <!-- new post -->
      <div class="col-sm-12 my-content-item" show-if-auth>
        <!-- user photo -->
        <div class="col-sm-2 my-content-user-avatar post-content-user">
          <a ui-sref="user.profile.buzz({ nickname: buzzCtrl.user.nickname })">
            <img class="img-responsive my-content-user-img img-center" alt="" ng-src="{{ buzzCtrl.user.avatar.file.url ? buzzCtrl.user.avatar.file.url+'?w=80&h=80' : buzzCtrl.user.profileImageURL }}"/>
          </a>
        </div>
        <div class="col-sm-10 my-content-body">
          <div class="my-content-item--summary">
            <form name="buzzCtrl.form" novalidate>
              <div ng-if="!vm.myContribution.state">
                <div class="post-new-content-selector" ng-init="buzzCtrl.state = 'write'">
                  <a ng-class="{'active': buzzCtrl.state === 'write'}" href="#" ng-click="buzzCtrl.state = 'write'"><i class="fa fa-pencil-square-o"></i>Write something</a>
                </div>
                <div class="my-content-new">
                  <div up-post-write group="{{campaign.item.groupId}}" required ng-show="buzzCtrl.state === 'write'"></div>
                </div>
              </div>
              <div ng-if="vm.myContribution.state && vm.myContribution.state > 0">
                <div class="post-new-content-selector" ng-init="buzzCtrl.state = 'content'">
                  <a ng-class="{'active': buzzCtrl.state === 'content'}" href="#" ng-click="buzzCtrl.state = 'content'"><i class="fa fa-cloud-upload"></i>Submit my content</a>
                  <a ng-class="{'active': buzzCtrl.state === 'write'}" href="#" ng-click="buzzCtrl.state = 'write'"><i class="fa fa-pencil-square-o"></i>Write something</a>
                </div>
                <div class="my-content-new">
                  <div up-post-content group="{{campaign.item.groupId}}" networks="yt, ig, url" ng-show="buzzCtrl.state === 'content'"></div>
                  <div up-post-write group="{{campaign.item.groupId}}" required ng-show="buzzCtrl.state === 'write'"></div>
                </div>
              </div>
              <div class="remove-my-content-og-content" ng-click="buzzCtrl.post.meta = buzzCtrl.post.url = null" ng-if="buzzCtrl.post.meta">
                <button class="btn sproutup-btn-square aqua"><i class="fa fa-times"></i></button>
              </div>
              <up-meta ng-if="buzzCtrl.post.meta" item="buzzCtrl.post.meta" url="buzzCtrl.post.url"></up-meta>
            </form>
          </div>
        </div>
      </div>
      <!-- feed -->
      <up-content ng-repeat="item in buzzCtrl.FeedService.model.posts" content="item" state="user.buzz"></up-content>
    </div>
    <div class="col-sm-5 campaign-buzz-column right" hide-if-auth>
      <div class="conversation-wrapper">
        <div class="message-header">
          <p><i class="fa fa-commenting"></i>Message</p>
        </div>
        <div class="message-body">
          <div class="empty-state">
            <p>If you have questions about the campaign or product, feel free to message us. But you need to sign in first.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5 campaign-buzz-column right" ng-init="campaign.loadChannel()" show-if-auth>
      <up-message-channel channel="campaign.channelId" on-start="campaign.startChannel()"/>
    </div>
  </div>
</div>
