<div class="about-campaign-page" style="background-image: url('modules/core/client/img/about-campaign-background.jpg')">
  <div class="row about-campaign-wrapper">
    <div class="col-sm-7 about-campaign-column">
      <div class="about-campaign-section" ng-if="vm.campaign.description">
        <h3>WHAT'S IT ABOUT</h3>
        <p>{{ vm.campaign.description }}</p>
      </div>
      <div class="company-profile-products-section">
        <div class="about-product--video embedded" ng-if="vm.campaign.product.video">
         <embed-video data-ng-href="{{ vm.campaign.product.video }}" width=560 height=315 autohide=1 showinfo=0></embed-video>
        </div>
      </div>
      <div class="about-campaign-section" ng-if="vm.campaign.product.description">
        <h3>PRODUCT DETAILS</h3>
        <p>{{ vm.campaign.product.description }}</p>
      </div>
    </div>
    <div class="col-sm-5 about-campaign-column">
      <div ng-if="vm.myContribution">
        <div class="about-campaign-section" ng-if="vm.myContribution.state == 0">
          <h3>You requested to join the campaign on {{ vm.myContribution.created | date }}</h3>
          <p ng-if="vm.campaign.hashtag">Your unique referral link is <strong>sproutup.co/{{vm.campaign.hashtag}}/{{vm.user.username}}</strong></p>
          <div class="about-campaign-actions">
            <a class="btn sproutup-btn-sm outline" ui-sref="navbar.activity.trial.edit({campaignId: vm.campaign.id})">Edit request</a>
            <button class="btn sproutup-btn-sm minimal" ng-click="vm.openCancelModal()">Cancel request</button>
          </div>
        </div>

        <div class="about-campaign-section" ng-if="vm.myContribution.state === 1">
          <h3 ng-if="vm.myContribution.trial.shippingState === 1">Hooray! Product was shipped to you on {{ vm.myContribution.trial.shippingDate | date }}</h3>
          <h3 ng-if="!vm.myContribution.trial.shippingState">Nice! Your request was approved on {{ vm.myContribution.log[0].created | date }}</h3>
          <p ng-if="vm.campaign.hashtag">Your unique referral link is <strong>sproutup.co/{{vm.campaign.hashtag}}/{{vm.user.username}}</strong></p>
        </div>

        <div class="about-campaign-section" ng-if="vm.myContribution.state === 2">
          <h3>You submitted content on <strong>{{ vm.myContribution.log[1].created | date }}</strong></h3>
          <p ng-if="vm.campaign.hashtag">Your unique referral link is <strong>sproutup.co/{{vm.campaign.hashtag}}/{{vm.user.username}}</strong></p>
        </div>
      </div>
      <div class="about-campaign-section" ng-if="vm.campaign.instructions">
        <h3>INSTRUCTIONS</h3>
        <p>{{ vm.campaign.instructions }}</p>
      </div>
      <div class="about-campaign-section">
        <h3>MORE DETAILS</h3>
        <ul>
          <div class="list-header">Type of content we're looking for:</div>
          <li ng-if="vm.campaign.typeOfContent.indexOf('yt') >= 0"><i class="fa fa-dot-circle-o"></i>YouTube</li>
          <li ng-if="vm.campaign.typeOfContent.indexOf('ig') >= 0"><i class="fa fa-dot-circle-o"></i>Instagram</li>
          <li ng-if="vm.campaign.typeOfContent.indexOf('vi') >= 0"><i class="fa fa-dot-circle-o"></i>Vine</li>
          <li ng-if="vm.campaign.typeOfContent.indexOf('ps') >= 0"><i class="fa fa-dot-circle-o"></i>Periscope</li>
          <li ng-if="vm.campaign.typeOfContent.indexOf('tw') >= 0"><i class="fa fa-dot-circle-o"></i>Twitter</li>
          <li ng-if="vm.campaign.typeOfContent.indexOf('bl') >= 0"><i class="fa fa-dot-circle-o"></i>Blog</li>
          <li ng-if="vm.campaign.typeOfContent.indexOf('sc') >= 0"><i class="fa fa-dot-circle-o"></i>Snapchat</li>
          <li ng-if="vm.campaign.trial.keepProduct"><i class="fa fa-check-circle green"></i>Yes! We will send you free product to review and keep.</li>
          <li ng-if="!vm.campaign.trial.keepProduct"><i class="fa fa-dot-circle-o"></i>We will send you <strong><u>loaner</u></strong> product to review and then return to us. NO cost on you.</li>
        </ul>
      </div>
      <div class="about-campaign-section">
        <h3>HOW IT WORKS</h3>
        <div class="trial-campaign-how-it-works">
          <h4>Place a request</h4>
          <div class="fine-prints">We make it simple for you! Tell us what kind of content you will create and why you are interseted in our product. If you go for sponsorship, tell us your offer. Passion and creativity make your request stand out.</div>
          <h4>Get approved</h4>
          <div class="fine-prints">We will review each request and pick influencers who perfectly match our brand and products.</div>
          <h4>Unbox and enjoy</h4>
          <div class="fine-prints">Once you are approved, congratulations! We then ship product directly to you and it's time to enjoy and have fun.</div>
          <h4>Create content (and get paid)</h4>
          <div class="fine-prints">Finally, make high quality content! Submit your work <a href="">here</a>, and get your cash reward (if you asked for sponsorship and was agreed by us).</div>
        </div>
      </div>
    </div>
  </div>
</div>
