<!-- trial campaign -->
<div ng-init="vm.findOne()">
  <div ng-if="vm.campaign">
    <div class="campaign-banner" ng-style="{'background-image': 'url({{ vm.campaign.banner.file.url || 'modules/core/client/img/default-product-banner.jpg' }})'}">
      <div class="row campaign-info-wrapper">
        <div ng-show="vm.myContribution && vm.myContribution.state === 0 && campaign.item.status !== -1" class="campaign-status joined"><i class="fa fa-check"></i>We received your request. Wanna write a post or send a message? Visit Buzz below. &#x1F447;</div>
        <div ng-show="vm.myContribution && vm.myContribution.state > 0 && campaign.item.status !== -1" class="campaign-status joined"><i class="fa fa-check"></i>Your request was approved!! Wanna write a post or send a message? Visit Buzz below. &#x1F447;</div>
        <div ng-show="campaign.item.status === -1" class="campaign-status ended"><i class="fa fa-flag-checkered"></i>This campaign has ended.</div>
        <div class="col-lg-12">
          <img class="brand-logo" ng-if="campaign.item.company.logo.file.url" src="{{ campaign.item.company.logo.file.url }}">
          <h1>{{ campaign.item.name }}<span>by <a ui-sref="navbar.company.view({companySlug: campaign.item.company.slug})">{{ campaign.item.company.name }}</a></span></h1>
          <h2>{{ campaign.item.tagline }}</h2>
          <button ng-if="vm.init && !vm.myContribution && campaign.item.status !== -1" class="btn btn-lg sproutup-btn-md-main" subject-present="vm.goToRequest()">Join Campaign</button>
          <a ng-show="campaign.item.product.url" class="btn btn-lg sproutup-btn-md-main discount" href="{{ campaign.item.product.url + '/?ref=sproutup' }} " target="_blank">Get {{ campaign.item.product.name }}</a>
        </div>
      </div>
      <div class="banner-menu">
        <div class="banner-menu--content">
          <div class="banner-menu--col" ng-class="{ 'active': vm.state.current.name === 'navbar.campaign.trial.view.details' }">
            <a ui-sref="navbar.campaign.trial.view.details">Details</a>
          </div>
          <div class="banner-menu--col" ng-class="{ 'active': vm.state.current.name === 'navbar.campaign.trial.view.buzz' }">
            <a ui-sref="navbar.campaign.trial.view.buzz">Buzz</a>
          </div>
        </div>
      </div>
    </div>
    <div ui-view ng-init="vm.findMyContribution()"></div>
  </div>
</div>
