<div hide-if-auth class="marketing-container" style="background-image: url('modules/core/client/img/about/about-banner.jpg');">
  <div class="marketing-header">
    <h1>Passion. Creativity. Influence.</h1>
    <h2>Our mission is to help <strong><i>creative minds</i></strong> across the globe build their personal brands. We bring you the opportunities to create content of snackable size or long form. We connect you with your audience and other creators. And, we help you make good money (or earn other kinds of reward).</h2>
  </div>
  <div class="marketing-cta">
    <button class="btn sproutup-btn-lg-main" subject-present state="user.buzz">JOIN TODAY</button>
  </div>
</div>

<div class="buzz-page">
  <div class="row buzz-wrapper" ng-class="{ 'no-user-session': !vm.user }" infinite-scroll='vm.loadContent()' infinite-scroll-disabled='vm.busy' infinite-scroll-distance='2' ng-init='vm.loadContent()'>
    <div class="col-sm-8 my-content-left-rail">
      <div class="add-content-wrapper" show-if-auth>
        <div class="col-sm-12 my-content-item">
          <!-- user photo -->
          <div class="col-sm-2 my-content-user-avatar post-content-user">
            <a ui-sref="user.profile.buzz({ nickname: vm.user.nickname })">
              <img class="img-responsive my-content-user-img img-center" ng-src="{{ vm.user.avatar.file.url ? vm.user.avatar.file.url+'?w=80&h=80' : vm.user.profileImageURL}}">
            </a>
          </div>
          <!-- content thumbnail -->
          <div class="col-sm-10 my-content-body">
            <div class="my-content-item--summary">
              <form name="form" novalidate>
                <div class="post-new-content-selector" ng-init="vm.state = 'write'">
                  <a ng-class="{'active': vm.state === 'write'}" href="#" ng-click="vm.state = 'write'"><i class="fa fa-pencil-square-o"></i>Write something</a>
                  <a ng-class="{'active': vm.state === 'suggest'}" href="#" ng-click="vm.state = 'suggest'"><i class="fa fa-binoculars"></i>Suggest product</a>
                </div>
                <div class="my-content-new">
                  <div up-post-write ng-model="vm.post" required ng-if="vm.state === 'write'"></div>
                  <div up-post-suggestion ng-model="vm.suggestion" required ng-if="vm.state === 'suggest'"></div>
                </div>
                <div class="remove-my-content-og-content" ng-click="vm.post.meta = vm.post.url = null" ng-if="vm.post.meta && vm.state === 'write'">
                  <button class="btn sproutup-btn-square aqua"><i class="fa fa-times"></i></button>
                </div>
                <up-meta ng-if="vm.state === 'write' && vm.post.meta" item="vm.post.meta" url="vm.post.url"></up-meta>
                <up-meta ng-if="vm.state === 'suggest' && vm.suggestion.meta" item="vm.suggestion.meta" url="vm.suggestion.url"></up-meta>
                <div class="post-new-comment-actions">
                  <button ng-disabled="form.$invalid || vm.posting" class="btn btn-post content-post-button btn-post-default" ng-click="vm.create()">
                    <span ng-hide="vm.posting">Post</span>
                    <span us-spinner spinner-key="spinner-1"></span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <up-content ng-repeat="item in vm.content" content="item" state="navbar.buzz"></up-content>
    </div>
    <div class="col-sm-4 my-content-right-rail">
      <!-- Highlighted campaigns -->
      <div class="buzz-sidebar-item">
        <div class="title campaign">Discover and join activities sponsored by awesome brands</div>
        <div class="subtitle">Tryout and review latest products. Join video and photo contest. And more to unleash your creativity.</div>
        <div class="content" ng-repeat="campaign in vm.campaigns">
          <up-trial-highlight campaign="campaign"></up-trial-highlight>
        </div>
        <div class="link"><a ui-sref="navbar.discover.list">See more stuff<i class="fa fa-angle-right"></i></a></p></div>
      </div>
      <!-- Highlighted hangouts -->
      <div class="buzz-sidebar-item">
        <div class="title hangout">Hangout with brilliant minds in tech, content creation, and beyond</div>
        <div class="subtitle">We invite the most interesting creators, makers and thinkers to live chat with us and the community. You'll surely learn a lot from them!</div>
        <div class="content" ng-repeat="hangout in vm.hangouts">
          <up-hangout-highlight hangout="hangout"></up-hangout-highlight>
        </div>
        <div class="link"><a ui-sref="navbar.hangout.list.future">See more upcoming hangouts<i class="fa fa-angle-right"></i></a></p></div>
      </div>
      <!-- for brands -->
      <div class="buzz-sidebar-item">
        <div class="title brand">Are you a product creator?</div>
        <div class="subtitle">Create beautiful campaigns. Collaborate with a community of <strong>influencers</strong> and <strong>enthusiasts</strong>. Generate high quality leads. And grow your business.</div>
        <div class="content">
          <a href="https://dashboard.sproutup.co">
            <img class="img-responsive" src="modules/core/client/img/creator/dashboard.jpg">
          </a>
        </div>
        <div class="link"><a href="https://dashboard.sproutup.co">Get started here<i class="fa fa-angle-right"></i></a></p></div>
      </div>
      <!-- footer -->
      <div class="buzz-sidebar-item">
        <div class="subtitle">&copy; 2016 SproutUp Co</div>
        <ul class="list-inline buzz-sidebar-footer">
          <li><a ui-sref="navbar.team">Team</a></li>
          <li><a href="http://blog.sproutup.co">Blog</a></li>
          <li><a href="https://angel.co/sproutup/jobs">Jobs</a></li>
          <li><a ui-sref="navbar.terms">Terms</a></li>
          <li><a ui-sref="navbar.privacy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
