<div class="post-new-content-uploader" ng-init="vm.load()" ng-show="vm.providers.$resolved">
  <div ng-show="vm.contentState==='select'">
    <div ng-if="youtube">
      <div class="post-new-content-uploader-method">
        <table>
          <tbody>
            <tr ng-if="vm.user.google" ng-click="showYouTubeVideos()">
              <td><a href="#"><img src="modules/core/client/img/settings/youtube.png"></a></td>
              <td><a href="#">Choose video from YouTube<span>For YouTubers, please choose the content from your channel.</span></a></td>
            </tr>
            <tr ng-if="!vm.user.google" ng-click="vm.callOauthProvider('/api/auth/google')">
              <td><a href="#"><img src="modules/core/client/img/settings/youtube.png"></a></td>
              <td><a href="#">Connect your YouTube<span>To post content from your channel, connect here.</span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
    </div>
    <div ng-if="instagram">
      <div class="post-new-content-uploader-method">
        <table>
          <tbody>
            <tr>
              <td><a href="#"><img src="modules/core/client/img/settings/instagram.png"></a></td>
              <td><a href="#" >Choose photo from Instagram (coming soon)<span>For Instagram, please connect and choose the content from your channel.</span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
    </div>
    <div ng-if="url">
      <div class="post-new-content-uploader-method">
        <table>
          <tbody>
            <tr>
              <td><a href="#"><img src="modules/core/client/img/settings/url.png"></a></td>
              <td><a href="#">Post via a URL (coming soon)<span>If your content is not on YouTube, please post by pasting the URL.</span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--content added -->
  <div ng-show="vm.contentState==='write'">
    <textarea name="content" ng-model="item.body" ng-change="onChange()" class="form-control post-new-textarea no-resize" placeholder="Say something about your content..." required></textarea>
    <div class="post-new-content-uploaded-file">
      <p>{{ selectedVideo.snippet.title }}<span><a href="#" ng-click="removeVideo()"><i class="fa fa-times-circle"></i></a></span></p>
    </div>
  </div>
  <!-- Select YouTube video -->
  <div ng-if="vm.contentState === 'youtube'">
    <div class="post-new-content-uploader-method">
      <table>
        <tbody>
          <tr>
            <td><a href="#"><img src="modules/core/client/img/settings/youtube.png"></a></td>
            <td>Click and select a video below</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="post-new-content-select-file">
      <a href="#" ng-repeat="video in vm.videos" ng-click="selectVideo(video)"><p>{{ video.snippet.title }}</p></a>
    </div>
  </div>
  <!--content added -->
  <div ng-show="vm.contentState==='error'">
    <div>Oops, something went wrong. <button class="btn btn-sm sproutup-btn-xs ng-click" style="margin-left: 7px" ng-click="vm.contentState = 'select'">Back</button>
  </div>
</div>
