<div class="post-new-content-uploader" ng-init="vm.load()" ng-show="vm.providers.$resolved">
  <div ng-show="vm.state === 'select'">
    <div ng-if="youtube">
      <div class="post-new-content-uploader-method">
        <table>
          <tbody>
            <tr ng-if="vm.user.google" ng-click="vm.showYouTubeVideos()">
              <td><a href="#"><img src="modules/core/client/img/settings/youtube.png"></a></td>
              <td ng-if="!vm.fetchingYouTube"><a href="#">Choose video from YouTube<span>For YouTubers, please choose the content from your channel.</span></a></td>
              <td ng-if="vm.fetchingYouTube">Fetching your YouTube videos...</span></td>
            </tr>
            <tr ng-if="!vm.user.google" ng-click="vm.callOauthProvider('/api/auth/google')">
              <td><a href="#"><img src="modules/core/client/img/settings/youtube.png"></a></td>
              <td><a href="#">Connect your YouTube<span>To post content from your channel, connect here.</span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
    </div>
    <div ng-if="instagram">
      <div class="post-new-content-uploader-method">
        <table>
          <tbody>
            <tr>
              <td><a href="#"><img src="modules/core/client/img/settings/instagram.png"></a></td>
              <td>Choose photo from Instagram (coming soon)<span>For Instagram, please connect and choose the content from your channel.</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
    </div>
    <div ng-if="url">
      <div class="post-new-content-uploader-method">
        <table>
          <tbody>
            <tr>
              <td><a href="#"><img src="modules/core/client/img/settings/url.png"></a></td>
              <td>Post via a URL (coming soon)<span>If your content is not on YouTube, please post by pasting the URL.</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--content added -->
  <div ng-show="vm.state === 'write'">
    <textarea name="content" ng-model="vm.item.body" class="form-control post-new-textarea no-resize" placeholder="Say something about your content..." required></textarea>
    <div class="post-new-content-uploaded-file">
      <p>{{ vm.selectedVideo.snippet.title }}<span><a href="#" ng-click="vm.removeVideo()"><i class="fa fa-times-circle"></i></a></span></p>
    </div>
  </div>
  <!-- Select YouTube video -->
  <div ng-if="vm.state === 'youtube'">
    <div class="post-new-content-uploader-method">
      <table>
        <tbody>
          <tr>
            <td><a href="#"><img src="modules/core/client/img/settings/youtube.png"></a></td>
            <td>To submit a content, click and select a video from your channel.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="post-new-content-select-file">
      <a href="#" ng-repeat="video in vm.videos" ng-click="vm.selectYouTubeVideo(video)"><p>{{ video.snippet.title }}</p></a>
    </div>
  </div>
  <!--content added -->
  <div ng-show="vm.state==='error'">
    Oops, something went wrong. <button class="btn btn-sm sproutup-btn-xs ng-click" style="margin-left: 7px" ng-click="vm.state = 'select'">Back</button>
  </div>
</div>
<up-meta ng-if="vm.item.meta" item="vm.item.meta" url="vm.item.url"></up-meta>
<div class="post-new-comment-actions">
  <button ng-disabled="!vm.item.body || !vm.item.ref" class="btn btn-post content-post-button btn-post-default" ng-click="vm.create()">
    <span ng-hide="vm.posting">Post</span>
    <span us-spinner spinner-key="spinner-1"></span>
  </button>
</div>
