<textarea ng-model="vm.item.body" up-embed ng-model-options="{ debounce: 250 }" name="content" placeholder="What do you have in mind? A cool product video? Good stuff for others to bite on?" class="form-control post-new-textarea link" required></textarea>
<div class="remove-my-content-og-content" ng-click="vm.item.meta = vm.item.url = null" ng-if="vm.item.meta">
  <button class="btn sproutup-btn-square aqua"><i class="fa fa-times"></i></button>
</div>
<up-meta ng-if="vm.item.meta" item="vm.item.meta" url="vm.item.url"></up-meta>
<div class="post-new-comment-actions">
  <button ng-disabled="!vm.item.body" class="btn btn-post content-post-button btn-post-default" ng-click="vm.create(vm.groupId)">
    <span ng-hide="vm.posting">Post</span>
    <span us-spinner spinner-key="spinner-1"></span>
  </button>
</div>