<form name="form" novalidate>
  <div class="my-content-new">
    <input ng-model="vm.item.body" up-embed type="url" class="form-control form-input medium" placeholder="The URL of the product or app" required up-http-prefix>
    <input ng-model="vm.item.name" type="text" class="form-control form-input medium" placeholder="The product's name" required>
  </div>
</form>
<up-meta ng-if="vm.item.meta" item="vm.item.meta" url="vm.item.url"></up-meta>
<div class="post-new-comment-actions">
  <button ng-disabled="form.$invalid" class="btn btn-post content-post-button btn-post-default" ng-click="vm.create()">
    <span ng-hide="vm.posting">Post</span>
    <span us-spinner spinner-key="spinner-1"></span>
  </button>
</div>
