<form name="form" novalidate>
  <div class="my-content-new">
    <input ng-model="item.url" up-embed ng-change="onChange()" type="url" class="form-control form-input medium" placeholder="The URL of the product or app" required up-http-prefix>
    <input ng-model="item.name" ng-change="onChange()" type="text" class="form-control form-input medium" placeholder="The product's name" required>
  </div>
  <div ng-hide="hide" class="post-new-content-tip suggest">Best suggestions are new and awesome products or apps you come across.<span><a href="" ng-click="hide=true"><i class="fa fa-times"></i></span></div>
</form>
