<div class="dashboard-product-banner brand-landing-page" ng-init="" style="background-image: url('https://d30xksqof6w2my.cloudfront.net/564efc2f-199a-4f1c-9b1a-38b6780b151d_0_admin.jpg?w=1600');" ng-if="company.company.domain">
  <div class="row dashboard-product-info-wrapper">
    <div class="col-sm-12">
      <div class="dashboard-main-tagline">SproutUp is built by passionate souls who love awesome brands like <strong>{{company.company.name}}</strong></div>
      <div class="dashboard-cta">
        <form name="form" class="form-inline" novalidate autocomplete="off">
          <div class="form-group">
            <div class="input-group">
              <input name="email" type="text" class="form-control dashboard-signup-input" placeholder="Your email account" ng-model="vm.email" unique-email="{{company.company.domain}}" required>
              <div class="input-group-addon">@{{company.company.domain}}</div>
            </div>
          </div>
          <button type="submit" ng-disabled="form.$invalid" class="btn btn-lg sproutup-btn-lg-main orange" ng-click="vm.getStarted()">Get Started</button>
        </form>
        <div ng-show="form.email.$error.uniqueemail" class="dashboard-signup-error">
          <p>&#x1F613; This email is already taken!</p>
        </div>
        <div class="dashboard-signup-message">
          <p>SproutUp is absolutely free to jump start. Scroll down and check out what have happened.</p>
        </div>
      </div>
    </div>
  </div>
</div>
