<div class="dashboard-product-banner brand-landing-page" style="background-image: url('https://d30xksqof6w2my.cloudfront.net/564efc2f-199a-4f1c-9b1a-38b6780b151d_0_admin.jpg?w=1600');">
  <div class="row dashboard-product-info-wrapper">
    <div class="col-sm-12">
      <div ng-if="company.company" class="dashboard-main-tagline">
        <div>You are joining the team <span><i>{{ company.company.name }}</i></span>. We've sent a message to your email address:</div>
        <div class="signup-email">{{ vm.authentication.emailSentTo }}</div>
      </div>
      <div ng-if="!company.company" class="dashboard-main-tagline">
        <div>Thank you for joining! We've sent a message to your email address:</div>
        <div class="signup-email">{{ vm.authentication.emailSentTo }}</div>
      </div>
      <div class="dashboard-secondary-tagline">Please check your inbox and finish signing up</div>
    </div>
  </div>
</div>
