<!-- Banner -->
<div class="settings-page">
  <div class="row settings-wrapper">
    <div class="dashboard-banner" up-background-image="modules/core/client/img/user-profile-banner.jpg" up-background-attr="?w=1600">
      <div class="row user-profile-info">
        <div class="col-sm-4 user-profile-info--avartar">
          <div class="upload-file-widget" style="background-image: url('modules/core/client/img/default-avatar.png');">
            <a class="btn btn-lg upload-file-button">Change Photo</a>
          </div>
        </div>
        <div class="col-sm-8 user-profile-info--title">
          <h1>Tao Ni<span>@tao.ni</span></h1>
          <ul class="list-inline profile-user-social-buttons">
            <li>
              <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- TOC -->
    <div class="col-sm-3">
      <div class="list-group">
        <a class="list-group-item" ui-sref="navbar.theme.mocks.account-settings-profile">Profile</a>
        <a class="list-group-item current">Social Accounts</a>
      </div>
    </div>

    <div class="col-sm-9">
      <div class="social-account-wrapper">
        <div class="profile-edit--header">
          <h1>Your social reach is your influence &#x1F388;</h1>
          <h2>Connect your social accounts and know your social reach and influence. <a href="#" ng-click="vm.learningMore=!vm.learningMore">Learn more</a></h2>
      		<div class="learning-more" ng-if="vm.learningMore">
            <hr>
            <div>Why should I link my social media accounts with SproutUp?</div>
    		    <ul>
  		        <li><i class="fa fa-check-circle"></i><strong>Verify. </strong>Connecting accounts helps us make sure you're a the real account owner. &#x1f60e;</li>
  		        <li><i class="fa fa-check-circle"></i><strong>Qualify. </strong>We use your collective social media reach to determine qualification for product trials.</li>
  		        <li><i class="fa fa-check-circle"></i><strong>Measure. </strong>Get bragging rights when you move up the rank on SproutUp leader board.</li>
  		        <li><i class="fa fa-check-circle"></i><strong>Earn. </strong>Earn Sprout Points based on your content’s performance.</li>
  		        <li><i class="fa fa-check-circle"></i><strong>Assurance. </strong>Don’t worry, we’ll never post on your accounts unless you tell us to.</li>
    		    </ul>
      		</div>
        </div>
        <!-- Google -->
        <div class="row row-social-account">
          <div class="col-sm-8">
            <div class="header">Connect to Google</div>
            <div class="description">If you are a YouTuber or have a website, brands will be able to view your stats after you connect. You can also sign in with Google.</div>
          </div>
          <div class="col-sm-4 action">
            <button class="btn sproutup-btn-sm google"><i class="fa fa-google-plus-square"></i>Connect</button>
          </div>
        </div>
        <!-- connected to google -->
        <div class="row row-social-account">
          <div class="col-sm-8">
            <div class="header"><i class="fa fa-check-circle"></i>Connected to Google</div>
            <div class="description">Your collective social reach from Google is <span class="reach">58.2k</span>. You can now sign in with Google as well.</div>
          </div>
          <div class="col-sm-4 action">
            <a class="btn sproutup-btn-sm naked" href="#">Disconnect</a>
          </div>
        </div>
        <!-- Twitter -->
        <div class="row row-social-account">
          <div class="col-sm-8">
            <div class="header">Connect to Twitter</div>
            <div class="description">You can sign in with Twitter after you connect. <strong>We'll never post to Twitter or message your followers without your permission</strong>.</div>
          </div>
          <div class="col-sm-4 action">
            <button class="btn sproutup-btn-sm twitter"><i class="fa fa-twitter"></i>Connect</button>
          </div>
        </div>
        <!-- connected to twitter -->
        <div class="row row-social-account">
          <div class="col-sm-8">
            <div class="header"><i class="fa fa-check-circle"></i>Connected to Twitter</div>
            <div class="description">Your social reach on Twitter is <span class="reach">137k</span>. You can now sign in with Twitter as well. <strong>We'll never post to Twitter or message your followers without your permission</strong>.</div>
          </div>
          <div class="col-sm-4 action">
            <a class="btn sproutup-btn-sm naked" href="#">Disconnect</a>
          </div>
        </div>
        <!-- Facebook -->
        <div class="row row-social-account">
          <div class="col-sm-8">
            <div class="header">Connect to Facebook</div>
            <div class="description">You can sign in with Facebook after you connect. <strong>We'll never post to Facebook or message your friends without your permission</strong>.</div>
          </div>
          <div class="col-sm-4 action">
            <button class="btn sproutup-btn-sm facebook"><i class="fa fa-facebook"></i>Connect</button>
          </div>
        </div>
        <!-- Instagram -->
        <div class="row row-social-account">
          <div class="col-sm-8">
            <div class="header">Connect to Instagram</div>
            <div class="description">You can share your Instagram content on SproutUp, e.g. for joining activities related to Instagram. <strong>We'll never post to Instagram</strong>.</div>
          </div>
          <div class="col-sm-4 action">
            <button class="btn sproutup-btn-sm instagram"><i class="fa fa-instagram"></i>Connect</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
