<div class="col-sm-9" data-ng-controller="ChangePasswordController">
  <div data-ng-show="success" class="form-hud success">
    <strong>Password Changed successfully</strong>
  </div>
  <div data-ng-show="error" class="form-hud error">
    <strong data-ng-bind="error"></strong>
  </div>
  <form name="changePasswordForm" data-ng-submit="changeUserPassword()" class="signin" autocomplete="off">
    <div class="profile-input-section">
      <div class="profile-input-cell--title">Change Password</div>
      <div class="profile-input-cell--subtitle">If you've had a password, you can change to a new one. Or if you signed in with a social accounts, you can also create a password, so that you can log in with email and password in the future.</div>
      <div class="row profile-input-row">
        <div class="col-sm-12 profile-input-cell">
          <input type="password" id="currentPassword" name="currentPassword" class="form-control form-input medium" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
        </div>
      </div>
      <div class="row profile-input-row">
        <div class="col-sm-12 profile-input-cell">
          <input type="password" id="newPassword" name="newPassword" class="form-control form-input medium" data-ng-model="passwordDetails.newPassword" placeholder="New Password" required ng-minlength="6">
          <div ng-messages="changePasswordForm.newPassword.$error" ng-show="changePasswordForm.$submitted || changePasswordForm.newPassword.$touched">
            <div class="message error" ng-message="required">Password cannot be empty.</div>
            <div class="message error" ng-message="minlength">Your password has to be at least 6 characters long.</div>
          </div>
        </div>
      </div>
    </div>
    <!-- TODO: link href to save password method -->
    <div class="settings-page-actions">
      <button type="submit" class="btn btn-lg sproutup-btn-md-main" ng-disabled="changePasswordForm.$invalid">Confirm password change</button>
    </div>
  </form>
</div>
