<div class="col-sm-9" data-ng-controller="ChangePasswordController">
  <div data-ng-show="success" class="form-hud success">
    <strong>Password Changed successfully</strong>
  </div>
  <div data-ng-show="error" class="form-hud error">
    <strong data-ng-bind="error"></strong>
  </div>
  <div ng-show="!user.hasPassword && !user.emailConfirmed">
    You need to <a ui-sref="navbar.settings.profile">verify your email</a> before setting a password.
  </div>
  <form name="setPasswordForm" data-ng-submit="setUserPassword()" ng-show="user.emailConfirmed && !user.hasPassword" class="signin" autocomplete="off">
    <div class="profile-input-section">
      <div class="profile-input-cell--title">Set Password</div>
      <div class="row profile-input-row">
        <div class="col-sm-12 profile-input-cell">
          <input type="password" id="newPassword" name="newPassword" class="form-control form-input medium" data-ng-model="newPassword" placeholder="Create a password. Minimum length is 6." required ng-minlength="6">
          <div ng-messages="setPasswordForm.newPassword.$error" ng-show="setPasswordForm.$submitted || setPasswordForm.newPassword.$touched">
            <div class="message error" ng-message="required">Password cannot be empty.</div>
            <div class="message error" ng-message="minlength">Your password has to be at least 6 characters long.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="settings-page-actions">
      <button type="submit" class="btn btn-lg sproutup-btn-md-main" ng-disabled="setPasswordForm.$invalid">Confirm new password</button>
    </div>
  </form>
  <form name="changePasswordForm" data-ng-submit="changeUserPassword()" ng-show="user.hasPassword" class="signin" autocomplete="off">
    <div class="profile-input-section">
      <div class="profile-input-cell--title">Change Password</div>
      <div class="row profile-input-row">
        <div class="col-sm-12 profile-input-cell">
          <input type="password" id="currentPassword" name="currentPassword" class="form-control form-input medium" data-ng-model="passwordDetails.currentPassword" placeholder="Enter your current password.">
        </div>
      </div>
      <div class="row profile-input-row">
        <div class="col-sm-12 profile-input-cell">
          <input type="password" id="newPassword" name="newPassword" class="form-control form-input medium" data-ng-model="passwordDetails.newPassword" placeholder="Create a new password. Minimum length is 6." required ng-minlength="6">
          <div ng-messages="changePasswordForm.newPassword.$error" ng-show="changePasswordForm.$submitted || changePasswordForm.newPassword.$touched">
            <div class="message error" ng-message="required">Password cannot be empty.</div>
            <div class="message error" ng-message="minlength">Your password has to be at least 6 characters long.</div>
          </div>
        </div>
      </div>
    </div>
    <!-- TODO: link href to save password method -->
    <div class="settings-page-actions">
      <button type="submit" class="btn btn-lg sproutup-btn-md-main" ng-disabled="changePasswordForm.$invalid">Confirm password change</button>
    </div>
  </form>
</div>
