<div class="col-sm-9 col-change-password" data-ng-controller="ChangePasswordController">
  <form data-ng-submit="changeUserPassword()" class="signin" autocomplete="off">
    <fieldset>
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input type="password" id="currentPassword" name="currentPassword" class="form-control form-input" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
      </div>

      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" class="form-control form-input" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
      </div>

      <!-- TODO: link href to save password method -->
      <div class="form-group">
        <input type="submit" value="Save Password" class="btn btn-lg sproutup-btn-md-main">
      </div>

      <div data-ng-if="success" class="hud success" up-banner message-variable="success" fade-out="5000">
        <i class="fa fa-check"></i>Password Changed Successfully
      </div>
      <div data-ng-if="error" up-banner message-variable="error" fade-out="5000" class="hud error">
        <i class="fa fa-frown-o"></i><span data-ng-bind="error"></span>
      </div>
    </fieldset>
  </form>
</div>
