<!-- Content -->
<div class="col-sm-9" data-ng-controller="EditProfileController">
  <div data-ng-show="profile.success" class="form-hud success">
    <strong>Profile saved successfully</strong>
  </div>
  <div data-ng-show="profile.emailSuccess" class="form-hud success">
    <strong>Email verification sent to {{ profile.user.email }}</strong>
    <div ng-if="profile.emailUrl"><a ng-href="{{ profile.emailUrl }}">Confirmation Link</a></div>
  </div>
  <div data-ng-show="profile.error" class="form-hud error">
    <strong data-ng-bind="error"></strong>
  </div>
  <form name="profile.basicinfoform" data-ng-submit="profile.updateUserProfile()" class="" novalidate>
    <div class="profile-input-section">
      <div class="profile-input-cell--title">Basic Information</div>
      <!-- email -->
      <div class="row profile-input-row">
        <div class="col-sm-12 profile-input-cell">
          <input id="email" name="email" type="email" class="form-control form-validate form-input medium" placeholder="Email" ng-model="profile.user.email" unique-email>
          <div class="message error" ng-if="profile.user.email && !profile.user.emailConfirmed && profile.basicinfoform.email.$pristine">Email not verified <a ng-click="profile.sendEmailVerification()" href="#">Resend a link</a></div>
          <span class="input-feedback-right success" ng-if="profile.user.emailConfirmed && profile.basicinfoform.email.$pristine"><i class="fa fa-check-circle"></i>Verified</span>
          <div ng-messages="profile.basicinfoform.email.$error" ng-show="profile.basicinfoform.email.$touched">
            <div class="message error" ng-message="required">A valid email is required.</div>
            <div class="message error" ng-message="uniqueemail">This email has been taken.</div>
            <div class="message error" ng-message="email">Seems like an invalid email.</div>
          </div>
          <!-- <div class="message error">Email not verified <a href="#">Resend a link</a></div> -->
          <!-- <span class="input-feedback-right success"><i class="fa fa-check-circle"></i>Verified</span> -->
        </div>
      </div>

      <!-- full name -->
      <div class="row profile-input-row">
        <div class="col-sm-12 profile-input-cell">
          <input popover="Your full name" id="fullname" name="fullname" type="text" class="form-control form-validate form-input medium" placeholder="Full Name" ng-model="profile.user.displayName" required>
          <div ng-messages="profile.basicinfoform.fullname.$error" ng-show="profile.basicinfoform.fullname.$touched">
            <div class="message error" ng-message="required">Your name cannot be empty.</div>
          </div>

        </div>
      </div>

      <!-- user name -->
      <div class="row profile-input-row">
        <div class="col-sm-12 profile-input-cell">
          <input disabled type="text" class="form-control form-validate form-input medium" placeholder="Pick a SproutUp username" ng-model="profile.user.username" id="username" name="username" ng-model-options="{ debounce: 400 }" ng-pattern="/^[a-zA-Z0-9]+$/" ng-minlength="3" up-slug required>
          <div ng-messages="profile.basicinfoform.username.$error" ng-show="profile.basicinfoform.username.$touched">
            <div class="message error" ng-message="required">A user without a username? Silly.</div>
            <div class="message error" ng-message="uniqueslug">This username has been taken.</div>
            <div class="message error" ng-message="minlength">Your username has to be at least 3 characters long.</div>
            <div class="message error" ng-message="pattern">Your username can only have letters and numbers. It can't have any spaces either.</div>
          </div>
        </div>
      </div>

      <!-- short bio -->
      <div class="row profile-input-row">
        <div class="col-sm-12 profile-input-cell">
          <textarea class="form-control form-input-textarea no-resize" placeholder="Write a short bio of yourself. Visible to other users and brands." rows="2" ng-model="profile.user.description"></textarea>
        </div>
      </div>
    </div>

    <div class="profile-input-section">
      <!-- Address -->
      <div class="profile-input-cell--title">Shipping Address</div>
      <div class="row profile-input-row">
        <div class="col-sm-12 profile-input-cell">
          <input type="text" ng-autocomplete="" class="form-control form-input medium" placeholder="Enter your address" ng-model="profile.user.address">
        </div>
      </div>
    </div>

    <div class="profile-input-section">
      <!-- Phone number -->
      <div class="profile-input-cell--title">Mobile Number</div>
      <div class="row profile-input-row">
        <div class="col-sm-12 profile-input-cell">
          <!-- <input analytics-on="click" analytics-event="Enter phone number" type="text" class="form-control form-input medium" placeholder="Enter your mobile number. Please include the country code for non-US number." ng-model="vm.user.phone"> -->
          <input type="text" class="form-control form-validate form-input medium" ng-model="profile.user.phone" ng-intl-tel-input>
          <div ng-messages="profile.basicinfoform.phone.$error">
            <div ng-message="ngIntlTelInput" class="form--error-message"><i class="fa fa-minus-circle"></i>Please use a valid phone number.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="settings-page-actions">
      <button analytics-on="click" analytics-event="Save Profile Changes" analytics-userId="{{ vm.user.id }}" analytics-username="{{ vm.user.username }}" ng-disabled="profile.basicinfoform.$invalid || profile.basicinfoform.$pristine" class="btn btn-lg sproutup-btn-md-main" type="submit">Save Changes</button>
    </div>
  </form>
</div>
