<div class="col-sm-9">
  <div class="social-account-wrapper">
    <div class="profile-edit--header">
      <h1>Get paid. With Square Cash.</h1>
      <h2><a class="squarecash" href="https://cash.me/" target="_blank">Learn more about Square Cash</a>. And you may wonder why Square Cash? Because it's fast, easy, free and beautiful! You simply get paid with your <a class="squarecash" href="https://cash.me/cashtags" target="_blank">$Cashtag</a>, like this:</h2>
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/sproutup-assets/squarecash.png">
    </div>
    <form>
      <label class="sproutup-form-label">Enter your Square $Cashtag. <a href="https://cash.me/" target="_blank">Get it here</a> if you don't have one.</label>
      <input type="text" class="form-control form-validate form-input medium" placeholder="Square $Cashtag">
      <button class="btn sproutup-btn-sm squarecash">Save Changes</button>
    </form>
  </div>
</div>
