<!-- Content -->
<div class="col-sm-9" data-ng-controller="EditProfileController">
  <form name="vm.basicinfoform" data-ng-submit="updateUserProfile(userForm.$valid)" class="" novalidate>
    <!-- full name -->
    <div class="row profile-input-row">
      <div class="col-sm-12 profile-input-cell">
        <input popover="Your full name" popover-trigger="focus" type="text" class="form-control form-validate form-input medium" placeholder="Full Name" ng-model="user.displayName" required>
      </div>
    </div>

    <!-- email -->
    <div class="row profile-input-row">
      <div class="col-sm-12 profile-input-cell">
        <input uib-popover="Your email" popover-trigger="focus" type="email" class="form-control form-validate form-input medium" placeholder="Email" ng-model="user.email">
        <div class="message error">Email not verified <a href="#">Resend a link</a></div>
      </div>
    </div>

    <!-- user name -->
    <div class="row profile-input-row">
      <div class="col-sm-12 profile-input-cell">
        <input uib-popover="Your SproutUp @username" popover-trigger="focus" type="text" class="form-control form-validate form-input medium" placeholder="Pick a SproutUp username" ng-model="user.username" name="username" ng-model-options="{ debounce: 400 }" username required>
        <div ng-show="checking && vm.basicinfoform.username.$pending.username" class="message">Checking if this name is available...</div>
        <div ng-show="vm.basicinfoform.username.$valid" class="message success">Cool, this username is available!</div>
        <div ng-show="vm.basicinfoform.username.$error.username" class="message error">This username is already taken!</div>
      </div>
    </div>

    <!-- short bio -->
    <div class="row profile-input-row">
      <div class="col-sm-12 profile-input-cell">
        <textarea uib-popover="Short bio of yourself" popover-trigger="focus" class="form-control form-input-textarea no-resize" placeholder="Write a short bio of yourself. Visible to other users and brands." rows="2" ng-model="user.description"></textarea>
      </div>
    </div>

    <!-- Address -->
    <div class="profile-input-cell--title">Shipping Address</div>
    <div class="row profile-input-row">
      <div class="col-sm-8 profile-input-cell">
        <input type="text" ng-autocomplete="" class="form-control form-input medium" placeholder="Enter your address" ng-model="user.address">
      </div>
      <div class="col-sm-4 profile-input-cell">
        <input type="text" ng-autocomplete="" class="form-control form-input medium" placeholder="Your zip code" ng-model="user.zipcode">
      </div>
    </div>

    <!-- Phone number -->
    <!-- TODO: link ng-intl-tel-input to ng-model -->
    <div class="profile-input-cell--title">Mobile Number</div>
    <div class="row profile-input-row">
      <div class="col-sm-12 profile-input-cell">
        <!-- <input analytics-on="click" analytics-event="Enter phone number" type="text" class="form-control form-input medium" placeholder="Enter your mobile number. Please include the country code for non-US number." ng-model="vm.user.phone"> -->
        <input type="text" class="form-control form-validate form-input medium" ng-model="tel" ng-intl-tel-input>
      </div>
    </div>

    <div class="settings-page-actions">
      <button ng-disabled="vm.basicinfoform.$invalid || vm.basicinfoform.$pristine" class="btn btn-lg sproutup-btn-md-main" type="submit" ng-click="vm.save()">Save Changes</button>
    </div>


    <!-- TODO: change to SproutUp heads-up message style -->
    <div data-ng-show="success" class="text-center text-success">
      <strong>Profile Saved Successfully</strong>
    </div>
    <div data-ng-show="error" class="text-center text-danger">
      <strong data-ng-bind="error"></strong>
    </div>
  </form>
</div>
