<section ng-controller="AuthenticationController">
  <div class="signin-page" style="background-image: url('modules/core/client/img/signin-page-background.jpg')">
    <div class="exit-signin-page">
      <button class="btn sproutup-btn-xs" ng-click="back()"><i class="fa fa-times"></i></button>
    </div>
    <div class="signup-login-header">
      <h1>We're glad to see you</h1>
    </div>
    <div class="signup-login-area">
      <!-- twitter login -->
      <button analytics-on="click" analytics-event="Sign In" analytics-provider="Twitter" ng-click="callOauthProvider('/api/auth/twitter')" type="submit" class="btn btn-lg btn-twitter"><i class="fa fa-twitter-square"></i>Sign in with Twitter</button>
      <!-- google login -->
      <button analytics-on="click" analytics-event="Sign In" analytics-provider="Google" ng-click="callOauthProvider('/api/auth/google')" type="submit" class="btn btn-lg btn-google"><i class="fa fa-google-plus-square"></i>Sign in with Google</button>
      <!-- facebook login -->
      <button analytics-on="click" analytics-event="Sign In" analytics-provider="Facebook" ng-click="callOauthProvider('/api/auth/facebook')" type="submit" class="btn btn-lg btn-facebook"><i class="fa fa-facebook-square"></i>Sign in with Facebook</button>
      <!-- separator -->
      <div class="signup-or-separator">
        <hr>
      </div>
      <div ui-view></div>
    </div>
    <div class="signup-login-footer">We'll never post to Twitter, Facebook or Google Plus without your permission.</div>
  </div>
</section>
