<!-- email login -->
<form name="loginForm" class="loginForm" ng-submit="signin()" novalidate>
  <div class="signup-login-form">
    <div class="signup-login-form-header">If you signed up with <strong>email</strong> and <strong>password</strong> before, please log in here.</div>
    <div ng-show="true">
      <div class="signup-login-form--error-message" ng-show="error"><i class="fa fa-minus-circle"></i>Err... seems like invalid email or password</div>
    </div>
    <input class="form-control signup-login-input" id="email" name="email" type="email" ng-model="credentials.username" placeholder="Email address">
    <input class="form-control signup-login-input" id="password" name="password" type="password" ng-model="credentials.password" placeholder="Password">
    <button ng-disabled="loginForm.$invalid || loginForm.$pristine" class="btn btn-lg signup-login-btn" type="submit">Log in with email</button>
  </div>
</form>
<div class="signup-login-form-footer">
  <p><a ui-sref="password.forgot">Forgot password?</a></p>
</div>
