<div ng-init="verifyEmailToken()" ng-show="emailInit">
  <div class="signin-page" style="background-image: url('modules/core/client/img/signin-page-background.jpg')">
    <div class="signup-login-header email-verification">
      <h1 ng-if="success">You've successfully verified your email.</h1>
      <h1 ng-if="error">This verification link you clicked has expired. Please request another one.</h1>
    </div>
    <div class="signup-login-form-footer">
      <p><a ui-sref="navbar.home">Back to SproutUp</a></p>
    </div>
  </div>
</div>
